.single-quarter{
    background: white;
    padding: 10px;
    border-bottom: none;
    margin-top: 10px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: .5s;
    //color: #006064;
   
    cursor: pointer;
    & > p{
        display: flex;
        align-items: center;
    }
    .span-light{
        color: #6D6D6D;
    }
    & > p:first-of-type{
        margin-bottom: 10px;
        @media(min-width: 500px){
            .fa-user{
                font-size: 24px;
                margin-right: 10px;
            }
            .fa-file-alt{
                margin-left: 10px;
            }
            .fa-question{
                margin-right: 5px;
            }
            
        }
        @media(max-width: 499px){
            span:not(.span-light){
                font-size: 14px;
            }
        }
        .fa-user{
            margin-right: 5px;
            color: #006064;
        }
        .fa-file-alt{
            color: #006064;
            margin-left: 5px;
        }
        .span-light{
            margin-left: 5px;
            font-size: 12px;        
        }
        span:not(.span-light){
            color: #006064;
        }
        .fa-check{
            color: #82b541;
        }
        .fa-check, .fa-question{
            font-size: 20px;
            margin-left: auto;
        }
    }
    & > p:nth-child(2){
        margin-bottom: 10px;
        justify-content: flex-end;
        display: flex;
        flex-flow: wrap;
        span{
            margin-left: auto;
            padding: 5px 0;
        }
        .span-light{
            margin-left: auto;
            font-size: 15px;
            .fa{
                margin-right: 10px;
            }
        }
        span{
            b{
                font-weight: bold;
            }
        }
    }
    & > p:nth-child(3){
        z-index: 3;
        .delete-span{
            color: #6D6D6D;
        }
        .delete-span{
            color: #F35454;
        }
        span{
            margin-left: auto;
        }
        .fa-chevron-down{
            font-size: 20px;
            transform: rotate(0);
            transition: .5s;
            cursor: pointer;
        }
        .rot-chev{
            transform: rotate(180deg);
        }
    }
    .border-paragraph{
        border-bottom: 1px solid #6D6D6D;
        padding-bottom: 10px;
    }
  
}
.deleted-quarter{
    position: relative;
    .backdrop-prompt{
        position: absolute;
        z-index: 5;
        background: rgba(0,0,0,0.8);
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        color: white;
        top: 0;
        padding: 10px;
        left: 0;
        p{
            margin-top: auto;
        }
        span{
            color: #82b541;
            margin-left: auto;
            margin-top: auto;
        }
    }
}
.current-watched-item{
    border-right-color: #82b541;
}