.client-info-header,
.client-clouds-container,
.responsible-person-container {
  width: 100%;
  min-height: 200px;
  background-color: #f0f0f075;
  margin-bottom: 40px;
  box-shadow: 0.5px 1px 3px 0px #000000;
}

.client-clouds-container,
.responsible-person-container {
  padding: 20px;
}

.client-info-header {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: #f0f0f075;
  margin-bottom: 40px;
  box-shadow: 0.5px 1px 3px 0px #000000;

  .client-info-logo,
  .client-info-details {
    display: inline-block;
  }

  .client-info-logo {
    width: 30%;
    display: flex;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: top !important;
    margin-top: 25px;
    margin: 25px 10px 0 10px;
    img {
      width: 100%;
      height: 200px;
    }
  }

  .client-info-details {
    width: 70%;

    .client-info-details-more {
      padding: 20px;
      height: 70%;

      h1 {
        font-weight: bold;
        font-size: x-large;
        margin-bottom: 20px;
        color: #484848;
      }
      p {
        word-break: break-all;
      }
    }

    .client-info-options {
      button {
        background: none;
        border: none;
      }
      span {
        color: #006064;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease-in;
        padding: 0 5px;
        &:hover {
          background-color: rgba(8, 8, 8, 0.1);
          border-radius: 50px;
        }
      }
      @media screen and (min-width: 850px) {
        padding: 0 20px;
      }
      @media screen and (max-width: 950px) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
      }
    }
  }
}
