.client-info-header,
.client-clouds-container,
.responsible-person-container {
  width: 100%;
  background-color: #f0f0f075;
  margin-bottom: 40px;
  box-shadow: 0.5px 1px 3px 0px #000000;
}


.cloud-name:hover {
  width: 100%;
  color: rgba(128, 128, 128, 0.7);
  cursor: pointer;
}

.cloud-name-without-hover {
  width: 100%;
}


.client-clouds-container,
.responsible-person-container {
  padding: 20px;
}

.client-info-header {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: #f0f0f075;
  margin-bottom: 40px;
  box-shadow: 0.5px 1px 3px 0px #000000;

  .client-info-logo {
    margin: 5px;
  }

  .client-info-details {
    display: inline-block;
  }

  .client-info-logo-parent {
    width: 30%;
    display: flex;
  }

  .client-info-logo {
    width: 100%;
    display: flex;
    background-size: contain !important;
  }

  .client-info-details {
    width: 70%;

    .client-info-details-more {
      padding: 20px;
      height: 70%;

      h1 {
        font-weight: bold;
        font-size: x-large;
        margin-bottom: 20px;
        color: #484848;
      }
      p {
        word-break: break-word;
      }
    }

    .client-info-options {
      button {
        background: none;
        border: none;
      }
      span {
        color: #006064;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease-in;
        padding: 0 5px;
        &:hover {
          background-color: rgba(8, 8, 8, 0.1);
          border-radius: 50px;
        }
      }
      @media screen and (min-width: 850px) {
        padding: 0 20px;
      }
      @media screen and (max-width: 950px) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
      }
    }
  }
}

.cloud-fields {
  .field-container {
    margin-top: 5px;
    margin-bottom: 5px;
    animation: .5s animating ease-in-out forwards;

    @keyframes animating {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .field-name {
    text-transform: capitalize;
  }

  .field-content {
    margin-left: 10px;
    text-transform: capitalize;
  }

  .arrow {
    margin-left: 5px;
  }
}
