.client-info-header {
  width: 100%;
  min-height: 200px;
  background-color: #f0f0f075;
  margin-bottom: 40px;
  box-shadow: 0.5px 1px 3px 0px #000000;

  .client-info-logo,
  .client-info-details {
    display: inline-block;
  }

  .client-info-logo {
    width: 30%;
    img {
      width: 100%;
      min-height: 200px;
    }
  }

  .client-info-details {
    width: 70%;

    .client-info-details-more {
      padding: 20px;

      h1 {
        font-weight: bold;
        font-size: x-large;
        margin-bottom: 20px;
        color: #484848;
      }
      p {
      }
    }

    .client-info-options {
      padding: 0 20px;
      span {
        color: #006064;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease-in;
        padding: 0 5px;
        &:hover {
          background-color: #000000;
          border-radius: 50px;
        }
      }
    }
  }
}

.client-clouds-container {
  width: 100%;
  min-height: 200px;
  background-color: #f0f0f075;
  padding: 20px;
  box-shadow: 0.5px 1px 3px 0px #000000;

  .client-clouds-header {
    h2 {
      font-weight: bold;
      font-size: large;
      margin-bottom: 20px;
    }
  }

  .client-clouds {
    display: inline-block;
    width: 100%;
    .cloud {
      display: flex;
      align-items: center;
      width: 100%;
      .cloud-circle,
      .cloud-name,
      .cloud-options {
        float: left;
      }

      .cloud-circle {
        background-color: #b63b51;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      .cloud-name {
        width: 80%;
        padding: 0 5%;
      }

      .cloud-options {
        width: 10%;
        text-align: center;

        button {
          border: none;
          background: none;
        }
      }
    }
  }
}

.client-cloud-add {
  text-align: center;

  button {
    border: none;
    background: green;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;

    i {
      margin-right: 5px;
    }

    &:hover {
      background-color: #28a745;
    }
  }
}
