.emp-table-feedbacks{
  border-top: 2px solid #707070;
  margin: 150px 0;
  padding: 10px 0;
  @media(min-width: 800px){
      padding: 10px 40px;
  }

  .options {
    margin: auto;
    text-align: center;
    min-width: 100px;
  }

  .option {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5rem;

  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    transition: 0.5 all ease-in-out;
    position: relative;
    tr {
        @media(max-width: 560px){
            font-size: 0.7rem;
        }
        td:nth-of-type(1), th:nth-of-type(1){
            @media(max-width: 1200px){
                display: none;
            }
        }
        td:nth-of-type(4), th:nth-of-type(4){
            @media(max-width: 700px){
                display: none;
            }
        }
    }

    .detail-table-header{
        color: white;
        padding: 15px;
    }
    .detail-table-header td{
        position: absolute;
        min-height: 150px;
        background-color: #d8d8d8 !important;
        transition: 0.5s all ease-in-out;
        z-index: 2;
        color: black;
        animation: 0.5s header-anim linear forwards;
        @media(max-width: 764px){
            font-size: 0.7rem;
            min-height: 300px;
            width: 100%;
        }
        .option-btn:last-of-type{
            right: 120px;
        }
        .option-btn{
            bottom: 2.5px;
            right: 10px;
            color: white;
            position: absolute;
            @media(max-width: 480px){
                font-size: .7rem;
                width: 100px;
            }

        }

    }
    @keyframes header-anim {
        0%{
            width: 0%;
            opacity: 0;
        }
        100%{
            opacity: 1;
            width: 100%;
        }
    }
    @keyframes content-anim {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .detail-table-header:hover{
        background-color: lightcoral !important;
    }

    .detail-team-list{
        position: relative;
        padding-top: 30px;
        animation: 1.5s content-anim ease-in-out forwards;
    }
    .detail-team-list h5{
        position: absolute;
        top: 0;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        @media(max-width: 480px){
            flex-flow: column;
            text-align: center;
        }
        b{
            @media(max-width: 480px){
                i{
                    margin-top: 8px;
                }
            }
            display: inherit;
            @media(max-width: 764px){
                flex-flow: column;
            }
            #str-date{
                color: green;
                margin-right: 10px;
            }

            #ed-date{
                color: red;
            }
        }

    }
    .detail-team-list li:nth-of-type(1){
        width: 100%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid transparent;
        @media(max-width: 764px){
            margin-top: 20px;
        }
        @media(max-width: 480px){
            margin: 60px 0 20px 0;
            line-height: 15px;

        }
        b{
            color: tomato;
        }
    }
    .detail-team-list li:nth-of-type(2){
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        i {
            margin: 5px;
            color: white;
            padding: 5px;
            background-color: darkcyan;
            border-radius: 5px;
            @media(max-width: 440px){
                font-size: 10px;
                padding: 2.5px;
            }
        }
    }
    .detail-team-list p{
        padding: 5px;
        color: darkcyan;
        font-size: 14px;
    }
    .moment-date{
        color: darkcyan;
    }
    tbody tr:hover{
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }
    th{
        font-weight: bold;
        color: #493da8;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

}

  h2 {
      font-size: 24px;
      color: #707070;
      display: flex;
      padding: 20px 0;
      span{
        margin-left: 10px;
        display: block;
        position: relative;
      }
      @media screen and (max-width: 1470px) {
        text-align: center;
      }
      .small-spiner {
        position: absolute;
        top: -20px;
        right: -20px;
      }
      .correct-operation {
        top: -30px;
        right: -40px;
      }
      .fa-plus {
        color: green;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        top: -10px;
      }
    }
  .asign-error{
      color: tomato;
      padding-top: 30px;
      text-align: center;
      font-size: 20px;
  }
}
