.reports-content-container {
    padding: 15px;
    h1{
      padding: 10px 0;
      font-size: 22px;
    }
    .caffels-container {
      width: 100%;
      justify-content: center;
      display: flex;
      height: 100%;
      flex-flow: wrap;
      .caffel {
        width: 125px;
        height: 125px;
        margin: 10px;
        display: flex;
        position: relative;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        transition: 0.5s all ease-in-out;
        justify-content: center;
        align-items: center;
        span{
          word-break: break-all;
        }
        @media(max-width: 1000px){
          font-size: 14px;
        }
        div{
          position: absolute;
          width: 100%;
          font-size: 18px;
          top: 2.5px;
          text-align: right;
          b{
            margin: 0 5px;
          }
        }
      }
      .caffel-on{
        cursor: pointer;
        background: #e8e8e8;
        div{
          color: green;
        }
      }
      .caffel-on:hover {
        background: lightblue;
      }
      .caffel-off{
        background: none;
        border: 2px solid gainsboro;
      }
    }
  }