.modal-gen-link{
    @media(min-width: 701px){
        bottom: 0;
        margin: auto 0;
        height: 350px;
        top: 0;
    }
    @media(max-width: 700px){
      width: 96% !important;
      height: 80vh !important;
    }
    @media(max-width: 500px){
        height: 96vh !important;
    }
    .whole-page-error{
        font-size: 22px;
    }
    .gen-link-modal-container{
        width: 100%;
        height: 90%;
        flex-flow: column;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
        b{
            font-weight: bold;
        }
        & > article{
            width: 100%;
            & > p{
                padding: 15px 0;
                word-break: break-word;
                font-size: 15px;
                
            }
            & > div{
                margin-top: 30px;
                display: flex;
                justify-content: center;
                flex-flow: wrap;
                line-height: 35px;
                figure{
                    display: flex;
                    flex-flow: column;
                    & > i{
                        font-size: 84px;
                    }
                    span{
                        color: rgba(69, 69, 209, 0.81);
                        font-weight: bold;
                        cursor: pointer;
                        font-size: 14px;
                        text-align: center;
                        i{
                            margin: 5px 0 0 5px;
                        }
                    }
                }
               
                div{
                    margin-left: 15px;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                    @media(max-width: 500px){
                        margin: 0;
                    }
                }
            }
        }
        & > div{
            margin-top: 35px;
            padding: 15px;
            word-break: break-all;
            span{
                color: rgba(69, 69, 209, 0.81);
            }
            button{
                width: 150px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                i{
                    margin-left: 5px;
                }
            }
        }
    }
}