.log-in-btn {
  padding: 15px;
  width: 190px;
  font-size: 16px;
  color: lightseagreen;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.download-report-btn {
  color: lightseagreen;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: -30px;
  right: 10px;
  cursor: pointer;
}
.generate-raport-btn {
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 120px;
  padding: 16px;
  text-transform: capitalize;
  color: white;
  i {
    margin-right: 5px;
  }
}
.btn-green {
  background-color: #82b541;
}
.btn-green:hover {
  background-color: #93b652;
}
.generate-raport-btn:focus {
  outline: none;
}
.generate-raport-btn:disabled,
.generate-raport-btn:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
  .small-spiner::before,
  .small-spiner::after {
    background-color: green;
  }
}
.btn-brown {
  background-color: #d22708;
}
.btn-brown:hover {
  background-color: #d33819;
}
.btn-grey{
  background: grey;
  &:hover{
  background: #999898;
  }
}

.add-client-button {
  background-color: #8c1b2f;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 0 30px;
  height: 5vh;
  line-height: 3vh;
  font-family: "Roboto";
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  height: 38px;

  &:hover {
    background-color: #4c0f19;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
    margin-bottom: 10px;
  }
}

.btn-brown:hover {
  background-color: #d33819;
}

.input-error {
  border: none;
  box-shadow: 0 2px 12px red !important;
}
.btn-transparent {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 25px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

.files-btn{
  position: absolute;
  top: -30px;
  min-width: 100px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
  background: none;
  border: none;
  i{
    margin-right: 5px;
  }

}
.files-btn:focus{
  outline: none;
}