@import "../../../../ColorSchema";

.add-certificate-screen {

  .certificate-modified-success {
    text-align: center;
    color: green;
    font-size: 18px;
  }

  .certificate-modified-error {
    text-align: center;
    color: red;
    font-size: 18px;
  }

  .error {
    color: red;
    margin-top: 3px;
    margin-bottom: 5px;
  }

  form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    .result-block {
      text-align: left;
      line-height: 100%;
    }

    .form-group {
      margin-bottom: 5px;
      label {
        font-size: 14px;
        @media only screen and (max-width: 460px) {
          margin-bottom: 5px;
          font-size: 14px;
        }
      }

      input,
      .react-datepicker-wrapper .react-datepicker__input-container input {
        margin: 0;
        padding: 15px 10px;
        border-color: gray;
        &:focus {
          border-color: $button-element-background;
        }
      }

      p {
        display: none;
      }

      p.invalid {
        display: block;
        margin-top: 5px;
        color: crimson;
        font-size: 0.68em;
        opacity: 0.8;
      }

      .react-datepicker-wrapper .react-datepicker__input-container input {
        border-radius: 0.25rem;
      }

      textarea {
        resize: none;
        height: 70px;
        display: inline-block;
        padding: 8px 10px;
        border: none;
        outline: none;
        border: 1.2px solid gray;
        font-family: "Roboto Condensed", sans-serif;
        margin: 0;
        box-sizing: border-box;
        &:focus {
          border-color: $button-element-background;
        }
      }
    }
    .project-submit-container {
      text-align: right;

      .project-button-inactive {
        background-color: lightgray;
        &:hover {
          border: none;
          cursor: default;
        }
      }
      .submit-result {
        flex: 6;
      }
      .success {
        color: green;
      }
      .failure {
        color: red;
      }
    }
    .loading-bar-container {
      padding: 0.3em 0;
    }
  }
}
