.choose-drive-content{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    padding: 25px;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    .come-back-btn{
        position: absolute;
        bottom: -50px;
        font-size: 20px;
        cursor: pointer;
        color: blue;
        border: none;
        background: none;
    }
    .come-back-btn:hover{
        color: lightseagreen;
    }
    .btn-container{
        margin: 25px;
        width: 500px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        height: 500px;
        background: rgba(0,0,0,0.7);
        @media(min-width: 1024px){
            width: 750px;
            height: 500px;
        }
        @media(max-width: 600px){
            width: 100%;
            height: 400px;
            margin: 25px 0;
        }
        @media(max-width: 450px){
            height: 250px;
        }
        p{
            font-size: 48px;
            margin: 20px 0;
            @media(max-width: 450px){
                font-size: 40px;
            }
        }
        i{
            font-size: 78px;
        }
        .fa-windows{
            color: lightblue;
        }
        .fa-google-drive{
            color: lightgreen;
        }
    }
    .btn-container:hover{
        background: rgba(0,0,0,0.6);
    }
}