.col-sm-9 {
  position: relative;

  .selectpicker {
    height: 100px;
    overflow-y: auto;
    position: absolute;
    bottom: -105px;
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    transition: 0.5s all ease-in-out;
  }
  .selectpicker > option {
    color: black;
    padding: 5px;
    background-color: lightblue;
    cursor: pointer;
    font-size: 16px;
  }
  .selectpicker > option:hover {
    background-color: lightcyan;
  }
}

.user-details-container,
.project-details-container {
  padding-bottom: 1.5em;

  .detail-container {
    margin-bottom: 0.4em;
  }

  label {
    // display: inline-block;
    font-size: 15px;
    // width: 20%;
  }
  span {
    font-weight: 700;
    font-size: 15px;
  }
  input {
    margin: 0;
    height: 1.7em;
  }
}

.edit-user-button-container,
.edit-project-button-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 10px;
  @media screen and (max-width: 500px) {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1366px) {
  // height: 80%;
  // width: 80%;

  // font-size: 160% !important;
}
@media (min-width: 461px) and (max-width: 608px) {
  height: 370px;
  font-size: 14px;
}

@media only screen and (max-width: 460px) {
  height: 500px;

  // font-size: 230% !important;
}
