.flag-pol{
  background: url('../../public/img/pol.svg') no-repeat scroll center top/cover transparent;
  width: 24px;
  height: 16px;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.flag-gbr{
  background: url('../../public/img/gbr.svg') no-repeat scroll center top/cover transparent;
  width: 24px;
  height: 16px;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
