input[type="text"],
input[type="password"],
.manual-input {
  display: inline-block;
  padding: 0 10px;
  border: none;
  // height: 2.5em;
  height: calc(1.3525rem + 2px) !important;
  outline: none;
  border: 1.2px solid gray;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  box-sizing: border-box;

  &:focus {
    border: 1.2px solid darkslategray;
    transition: all 0.5s;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
    transition: all 0.2s;
  }
  &:focus::-moz-placeholder {
    color: transparent;
    transition: all 0.2s;
  }

  @media only screen and (max-width: 1366px) {
    & {
      font-size: 80%;
    }
  }

  @media only screen and (max-width: 1000px) {
    & {
      font-size: 14px;
    }
  }
}
select {
  height: calc(1.3525rem + 2px) !important;
}
