.small {
  background: url("../../public/img/logo_small.png") no-repeat scroll center
    top/cover transparent;
}
.big {
  background: url("../../public/img/logo.png");
}
.vector {
  background: url("../../public/img/znak_billennium.svg");
}
.vector_cut {
  background: url("../../public/img/znak_billennium_cut.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.vector_cut_header {
    background: url("../../public/img/znak_billennium_cut.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px;
    width: 32px;
  }
