@import "../../ColorSchema";

.add-project-screen {
  padding: 40px 10px 20px;
  form {
    .input-block {
      display: flex;
      margin-bottom: 5px;
      label {
        flex: 1;
        padding-top: 0.3em;
      }
      input {
        flex: 3;
        margin: 0;
        border-color: gray;
        &:focus {
          border-color: $button-element-background;
        }
      }
      input[type="date"],
      input[type="number"] {
        border: 1px solid gray;
        flex: 3.15;
      }

      textarea {
        flex: 2;
        flex-basis: 28%;
        display: inline-block;
        padding: 8px 10px;
        border: none;
        outline: none;
        border: 1.2px solid gray;
        font-family: "Roboto Condensed", sans-serif;
        margin: 0;
        box-sizing: border-box;
        &:focus {
          border-color: $button-element-background;
        }
      }
    }
    .project-submit-container {
      padding-top: 0.9em;
      display: flex;
      .submit-result {
        flex: 6;
      }
      .success {
        color: green;
      }
      .failure {
        color: red;
      }

      .project-submit-button {
        flex: 1;
      }
    }
    .loading-bar-container {
      padding: 0.3em 0;
    }
  }
}
