.project-details-block {
  .project-details-container {
    border: none;
    padding-left: 20px;
    // border: 1px solid blue;
    form {
      .form-group {
        margin-bottom: 0;

        label {
        }
        div {
          input,
          textarea {
            width: 90%;
            border: 1px solid lightgray;
          }
          textarea {
            resize: none;
            margin-bottom: 10px;
          }
        }
      }
      .edit-project-button-container {
        position: relative;

        padding: 7px 0 0;
        button {
          position: absolute;
          left: 415px;
        }
      }
    }
  }
}
