@import "../ColorSchema.scss";
button {
  outline: none;
  display: inline-block;
  transition: all 0.5s;
  background: $button-element-background;
  color: $menu-element-text-color;
  vertical-align: baseline;
  border: 1px solid transparent;

  i{
    padding-right: 5px;
  }

  &.submitter {
    margin-top: 2em;
    padding: 0.5em;
  }
  &:hover {
    background-color: $button-element-hover-background;
    border: 1px solid lighten($button-element-hover-background, 5%);
    color: lighten($menu-element-icon-hover-color, 55%);
  }
  &.nav-compact {
    border: 0;
    min-width: 100px;
    user-select: none;
    border-radius: 6px;
    cursor: pointer;
    height: unset;
    padding: 5px;

    box-shadow: 0 0 2px rgba(35,31,32, 0.3);

    i{
      padding-left: 10px;
    }
  }
}


