button {
  outline: none;
  display: inline-block;
  transition: all 0.5s;
  background: #767881;
  color: white;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: baseline;

  i{
    padding-right: 5px;
  }

  &.submitter {
    margin-top: 2em;
  }
  &:hover {
    background-color: darken(rgba(75, 148, 173, 0.89), 5%);
    border: lighten(#A4B9C0, 5%);
    color: lighten(#A4B9C0, 55%);
  }
  &.nav-compact {
    border: 0;
    min-width: 100px;
    user-select: none;
    cursor: pointer;

    i{
      padding-left: 10px;
    }
  }
}


