button {
  outline: none;
  display: inline-block;
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 0.5em;
  transition: all 0.5s;
  color: lightgray;

  i{
    padding-right: 5px;
  }

  &[type="submit"] {
    margin-top: 2em;
  }
  &:hover {
    background-color: rgba(255, 166, 0, 0.289);
    border: 1px solid orange;
    color: orange;
  }
  &:active {
    border: 1px solid orange;
  }
  &.nav-compact {
    border: 0;
    border-bottom: 1px solid black;
    color: black;
    user-select: none;
    cursor: pointer;
  }
  &.nav-compact:active, &.nav-compact:hover {
    border: 0px solid orange;
    border-bottom: 1px solid orange;
  }
}


