
input {
  display: inline-block;
  padding: 0.5em;
  border: none;
  outline: none;
  border: 1.2px solid gray;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  box-sizing: border-box;
}
input:focus {
  border: 1.2px solid darkslategray;
  transition: all 0.5s;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: all 0.2s;
}
input:focus::-moz-placeholder {
  color: transparent;
  transition: all 0.2s;
}
