.drive-content-container{
    .validation-error{
        color: tomato;
        font-size: 20px;
        width: 100%;
        text-align: center;
        top: 0;
        position: absolute;
    }
    .file-picker{
        position: fixed;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        z-index: 10;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 550px){
            flex-flow: column;
            padding: 15px 0;
        }
        button{
            height: 40px;
            padding: 0;
            position: relative;
            .small-spiner{
                right: -30px;
                top: 9px;
            }
            .small-spiner::before, .small-spiner::after{
                background-color: lightgreen;
            }
        }
        #upload{
            padding: 15px;
            color: white;
        }
        
    }

    .one-d-error{
        color: red;
        position: relative;
        padding: 30px 0;
        text-align: center;
    }
    .navigation-folders-container{
        .empty-files-list{
            font-size: 26px;
            padding: 35px;
        }
        header{
            display: flex;
            align-items: center;
            .btn-transparent{
                bottom: 10px !important;
                top: unset;
                right: 10px;
                left: unset !important;
            }
            h3{
                font-size: 18px;
                font-weight: bolder;
                position: relative;
                margin: 20px 0;
                width: 100%;
                text-align: center;
                span{
                    font-weight: normal;
                    margin-left: 15px;
                    letter-spacing: 2px;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            .generate-raport-btn{
                padding: 5px;
                font-size: 15px;
                transition: 0.5s all ease-in-out;
                position: absolute;
                bottom: 0;
                border-radius: 0;
                left: -5px;
                input{
                    width: 100%;
                }
                    
            }
        }
        .current-folders{
            display: flex;
            flex-flow: wrap;
            padding: 20px 0;
            width: 100%;
            margin: 50px 0;
            justify-content: center;
            .selected-folder{
                background-color: lightblue;
            }
            li{
                width: 150px;
                word-break: break-all;
                box-sizing: border-box;
                height: 150px;
                background-color: #e8e8e8;
                border-radius: 5px;
                padding: 7.5px;
                display: flex;
                margin: 15px;
                justify-content: center;
                align-items: center;
                position: relative;
                text-align: center;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s all ease-in-out;
                @media(max-width: 400px){
                    width: 250px;
                    height: 250px;
                }
                .fa-folder-open{
                    position: absolute;
                    font-size: 22px;
                    top: 5px;
                    left: 5px;
                    @media(max-width: 400px){
                        font-size: 40px;
                        left: 10px;
                        top: 10px;
                    }
                }
                i{
                    transition: 0.5s all ease-in-out;
                }
                .fa-cloud-upload-alt{
                    color: blue;
                    top: 5px;
                    font-size: 22px;
                    left: 36px;
                    @media(max-width: 400px){
                        font-size: 40px;
                        left: 70px;
                        top: 10px;
                    }
                }
                .fa-check:hover, .fa-times:hover, 
                .fa-folder-open:hover, .fa-trash:hover,
                .fa-pen-square:hover,  .fa-cloud-upload-alt:hover
                {
                    opacity: 0.6;
                }
                form{
                    width: 100%;
                    position: relative;
                    input{
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        border-radius: 5px;
                        border: none;
                    }
                    .fa-check, .fa-times{
                        position: absolute;
                        bottom: -20px;
                        @media(max-width: 400px){
                            bottom: -35px;
                        }
                    }
                    .fa-check{
                        color: green;
                        right: 0;
                        @media(max-width: 400px){
                            font-size: 30px;
                            right: 10px;
                        }
                    }
                    .fa-times{
                        right: 25px;
                        @media(max-width: 400px){
                            font-size: 30px;
                            right: 50px;
                        }
                    }
                    .small-spiner{
                        bottom: -50px;
                        right: -2.5px;
                    }
                   
                }
                .folders-icons{
                    position: absolute;
                    height: 35px;
                    bottom: 0;
                    left: 0;
                    width: 60px;
                }
                i{
                    position: absolute;
                    cursor: pointer;
                }
                .fa-trash{
                    bottom: 7.5px;
                    left: 7.5px;
                    color: red;
                    font-size: 18px;
                    @media(max-width: 400px){
                        font-size: 40px;
                        left: 10px;
                        bottom: 10px;
                    }
                }
                .fa-pen-square{
                    bottom: 5px;
                    color: green;
                    left: 30.5px;
                    font-size: 20px;
                    @media(max-width: 400px){
                        font-size: 40px;
                        left: 70px;
                        bottom: 10px;
                    }
                }
                .file-details{
                    z-index: 1;
                    position: absolute;
                    transition: 0.5s all linear;
                    background-color: #e9e9e9;
                    border-radius: 5px;
                    width: 130%;
                    height: 130%;
                    p{
                        font-size: 18px;
                        display: flex;
                        padding: 0 20px;
                        justify-content: space-between;
                        margin: 15px 0;
                        span{
                            font-weight: normal;
                            word-break: break-all;
                        }
                    }
                    a{
                        margin-top: 45px;
                        display: block;
                    }
                }
            }
        }
    }
}





