.drive-content-container{
    .file-picker{
        position: fixed;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        z-index: 10;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 550px){
            flex-flow: column;
            padding: 15px 0;
        }
        .generate-raport-btn:first-of-type{
            height: 40px;
            padding: 0;
            position: relative;
            .small-spiner{
                right: -30px;
                top: 9px;
            }
            .small-spiner::before, .small-spiner::after{
                background-color: lightgreen;
            }
        }
        #upload{
            padding: 15px;
            color: white;
        }
        
    }

    .one-d-error{
        color: red;
        position: relative;
        padding: 30px 0;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        span{
            color: lightseagreen;
            cursor: pointer;
            margin: 10px 0;
        }
    }
    .navigation-folders-container{
        padding: 15px;
        .add-folder-container{
            display: flex;
            align-items: center;
            flex-flow: wrap;
            .not-opened-btn{
                display: block !important;
                padding: 16px !important;
            }
            .generate-raport-btn{
                position: relative;
                display: flex;
                flex-flow: column;
                padding: 10px;
                align-items: center;
                @media(max-width: 866px){
                    margin: 0 auto;   
                }                    
                .small-spiner, .fa-times{
                    right: 5px;
                    top: 13px;
                }
                .small-spiner::before, .small-spiner::after{
                    background: black;
                }
                input{
                    padding: 5px 10px;
                    margin: 0;
                    font-size: 11px;
                    width: 85%;
                    margin-right: auto;
                    border: none;
                    border-radius: 17.5px;
                }
                span{
                    margin-top: 10px;
                }
                .fa-times{
                    color: black;
                    font-size: 16px;
                    z-index: 10;
                }
            }
            .validation-error{
                margin-left: 15px;
                color: tomato;
                @media(max-width: 750px){
                    margin-top: 15px;
                    font-size: 16px;
                    margin-left: 0;
                }
            }
        }
     
        .empty-files-list{
            font-size: 18px;
            padding: 35px;
            color: #8E8E8E;
        }
        h3{
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            margin: 20px 0;
            text-align: center;
            line-height: 22.5px;
            width: 100%;
            text-align: center;
            span{
                font-weight: normal;
                margin-left: 15px;
                letter-spacing: 2px;
                font-size: 20px;
                text-transform: uppercase;
            }
        }    
        .btn-transparent{
            position: relative;
            left: 0;
            margin-top: 30px;
            height: 0;
            padding: 0;
            width: unset;
            text-align: left;
        }   
    }
}





