.reports-container {
  width: 100%;
  background-color: white;
  color: black;
  box-sizing: border-box;
  position: relative;
  .generate-raport-btn {
    .fa-times {
      right: 10px;
      position: absolute;
    }
  }
  .lds-ring {
    top: 38vh !important;
    z-index: 200;
  }
  .server-error {
    color: tomato;
    padding: 100px;
    text-align: center;
    font-size: 18px;
  }
}
.reports-items-list {
  margin: 25px;
  overflow-y: auto;
  max-height: 40%;

  .inc-list-item {
    color: red;
  }
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2.5px 0;
    align-items: center;
    label {
      position: relative;
      b {
        position: absolute;
        right: -50px;
        top: -1px;
        i {
          margin-right: 5px;
        }
      }
    }
    input {
      width: 50px;
      border-radius: 5px;
      @media (max-width: 450px) {
        width: 35px;
      }
    }
    & > i {
      color: red;
      right: 80px;
      bottom: 15px;
      cursor: pointer;
      position: absolute;
      @media (max-width: 450px) {
        right: 50px;
      }
    }
  }
}
.checkbox-container {
  color: white;
  position: absolute;
  bottom: -90px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-flow: column;
  font-size: 16px;
  width: 100%;
  left: 0;
  letter-spacing: 1.5px;

  @media (max-width: 400px) {
    bottom: -85px;
    label {
      font-size: 14px;
    }
  }
  label {
    margin-bottom: 15px;
  }
  input {
    height: 20px;
    width: 20px;
    align-self: flex-end;
  }
}

.choosen-folder-content {
  // display: flex;
  min-height: 50%;
  margin: 0 auto;
  padding: 5px 25px;
  flex-flow: wrap;
  .gen-report-not-able-to-gen-prompt {
    padding: 15px;
    line-height: 20px;
    font-style: italic;
    color: tomato;
    font-weight: bold;
    // margin-top: 20px;
    @media (max-width: 500px) {
      margin: 0;
      padding: 0;
      line-height: 18px;
    }
    a {
      margin-left: 2.5px;
    }
  }
  & > p {
    bottom: -50px;
    font-size: 20px;
  }
  .correct-status {
    color: lightgreen;
  }
  @media (max-width: 625px) {
    .folder-details {
      width: 100% !important;
    }
    .icon-container {
      display: none;
    }
  }
  @media (max-width: 530px) {
    .submit-btn {
      bottom: -15px !important;
    }
    .folder-details {
      p:first-of-type {
        word-break: break-all;
      }
      p {
        margin: 5px 0 !important;
        text-align: center;
      }
      p,
      span {
        font-size: 14px !important;
      }
    }
  }
  .folder-details {
    width: 80%;
    p {
      margin: 10px 0;
      span {
        font-size: 17px;
      }
      b {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .icon-container {
    width: 20%;
    .fa-folder {
      font-size: 84px;
    }
    span {
      font-size: 16px;
      color: rgba(69, 69, 209, 0.81);
      cursor: pointer;
      margin-left: 5px;
      i {
        margin-left: 5px;
      }
    }
  }
  .availableUntil{
    display: flex;
    align-items: baseline;
    label{
      margin-right: 10px;
    }
  }
}
.Modal-report-modal{
  height: 700px !important;
}
