.employee-quarters{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    @media(min-width: 900px){
        flex-flow: row;
    }
    .quarters-list-container{
        width: 100%;
       @media(min-width: 1100px){
        width: 450px;
       }
    }
    .quarter-detail{
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        @media(min-width: 900px){
            padding: 0 20px;
            width: 90%;
        }
        @media(max-width: 889px){
            margin-top: 25px;
            padding: 0;
        }
        .empty-content-container{
            width: 90%;
            margin: auto;
            height: 90%;
            margin-top: 5%;
            @media(max-width: 900px){
                height: 250px;
                margin-top: 25px;
            }
        }
    }
}
