.quater-check-container{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    label{
      font-size: 18px;
      margin: 0 7.5px;
    }
    input{
      width: 15px;
      cursor: pointer;
      height: 15px;
    }
  }