$highlight-color: orange;
$pending-color: rgb(135, 135, 135);
$left-color: rgb(120, 101, 171);

.capacity-slider-wrapper {
  margin-bottom: 10px;
}

.capacity-slider {
  position: relative;
  .capacity-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;

    span {
      width: 20%;
      height: 32px;
      display: inline-block;
      background: transparent;
      position: absolute;
      top: 0px;
      box-sizing: border-box;
      border: 3px solid white;

      &:nth-child(1) {
        left: 0%;
      }
      &:nth-child(2) {
        left: 20%;
      }
      &:nth-child(3) {
        left: 40%;
      }
      &:nth-child(4) {
        left: 60%;
      }
      &:nth-child(5) {
        left: 80%;
      }
    }
  }
  .capacity-absolute-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;

    span {
      width: 100%;
      height: 32px;
      display: inline-block;
      background: $pending-color;
      position: absolute;
      top: 0px;
    }
  }
  .capacity-left-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;

    span {
      width: 100%;
      height: 32px;
      display: inline-block;
      background: $left-color !important;
      position: absolute;
      top: 0px;
    }
  }
  .capacity-left-slider-negative {
    span {
      background: rgb(139, 0, 0) !important;
    }
  }
  .capacity-slider-name {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .capacity-slider-1 {
    span {
      &:nth-child(1) {
        background: $highlight-color;

      }
    }
  }
  .capacity-slider-2 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
    }
  }
  .capacity-slider-3 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
      &:nth-child(3) {
        background: $highlight-color;
      }
    }
  }
  .capacity-slider-4 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
      &:nth-child(3) {
        background: $highlight-color;
      }
      &:nth-child(4) {
        background: $highlight-color;
      }
    }
  }
  .capacity-slider-5 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
      &:nth-child(3) {
        background: $highlight-color;
      }
      &:nth-child(4) {
        background: $highlight-color;
      }
      &:nth-child(5) {
        background: $highlight-color;
      }
    }
  }
}
