$highlight-color: orange;
$pending-color: rgb(135, 135, 135);
$left-color: rgb(120, 101, 171);

.capacity-slider-wrapper {
  margin-bottom: 10px;
}

.capacity-slider-negative {
  .capacity-slider-level {
    span {
      background: $left-color !important;
      text-align: left !important;
    }
  }
}

.capacity-slider {
  position: relative;
  height: 32px;
  .capacity-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;
    position: absolute;
    z-index: 3;

    span {
      width: 20%;
      height: 32px;
      line-height: 32px;
      padding: 5px;
      color: white;
      text-align: right;
      display: inline-block;
      background: orange;
      box-sizing: border-box;
    }
  }
  .capacity-absolute-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;

    span {
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: white;
      display: inline-block;
      text-align: right;
      padding: 5px;
      background: $pending-color;
      position: absolute;
      top: 0px;
    }
  }
  .capacity-left-slider-level {
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;
    position: absolute;
    z-index: 4;

    span {
      width: 100%;
      height: 32px;
      line-height: 32px;
      display: inline-block;
      text-align: left;
      color: white;
      padding: 5px;
      background: $left-color !important;
      position: absolute;
      top: 0px;
    }
  }
  .capacity-left-slider-negative {
    span {
      background: rgb(139, 0, 0) !important;
      position: absolute;
      right: 0;
    }
  }
  .capacity-slider-name {
    display: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
