@import "../../ColorSchema.scss";

.employee-detail-container {
  .employee-id-block {
    hr {
      background-image: linear-gradient(90deg, rgba($main-color, 0.5), transparent);
      height: 1px;
      margin: 0;
      border: 0;
    }
    .sharp {
      height: 0.1px;
    }
    i {
      display: inline-block;
      vertical-align: top;
      padding: 15px 15px 15px 0px;
    }
    h1 {
      display: inline-block;
      padding: 21px;
      vertical-align: top;
      font-size: 140%;
    }
    h3 {
      display: inline-block;
      padding: 21px;
      vertical-align: top;
      font-size: 77%;
    }
    .employee-active {
      color: green;
    }
    .employee-inactive {
      color: red;
    }
  }
  .employee-headway {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .dcmt-button {
    margin-bottom: 15px;
  }
  .edc-selectors {
    margin-bottom: 10px;
    label {
      min-width: 50px;
      padding: 10px;
    }
    select {
      min-width: 200px;
    }
  }
}
