.employees-list-container {
  @media screen and (max-width: 500px) {
    tbody tr:first-child,
    th:nth-child(3),
    th:nth-child(4),
    td:nth-child(3),
    td:nth-child(4) {
      display: none;
    }
  }
}
