$highlight-color: rgb(80, 144, 84);
$pending-color: rgb(192, 192, 192);

.seniority-slider-wrapper {
  margin-bottom: 10px;
}

.seniority-slider {
  .seniority-slider-level {
    width: 100%;
    display: block;
    height: 32px;
    span {
      width: 25%;
      display: inline-block;
      box-sizing: border-box;
      border: 3px solid white;
      background: $pending-color;
      transition: all 0.5s;
      height: 100%;
    }
  }
  .seniority-slider-name {
    display: block;
    text-align: center;
  }
  .seniority-slider-1 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
    }
  }
  .seniority-slider-2 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
    }
  }
  .seniority-slider-3 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
      &:nth-child(3) {
        background: $highlight-color;
      }
    }
  }
  .seniority-slider-4 {
    span {
      &:nth-child(1) {
        background: $highlight-color;
      }
      &:nth-child(2) {
        background: $highlight-color;
      }
      &:nth-child(3) {
        background: $highlight-color;
      }
      &:nth-child(4) {
        background: $highlight-color;
      }
    }
  }
}
