.top-content-container {
  padding: 25px;
  display: flex;
  position: relative;
  margin-top: 15px;
  flex-flow: wrap;
  justify-content: space-between;
  .information-for-statuses{
    position: absolute;
    bottom: -150px;
    color: #707070;
    p{
      font-size: 20px;
      padding: 10px 0;
    }
    article{
      font-size: 18px;
      line-height: 22px;
      b{
        color: red;
      }
    }
  }
  .emp-btns-container{
    position: absolute;
    left: 0;
    bottom: -280px;
    flex-flow: wrap;
    right: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .option-btn{
    border-radius: 29px;
    width: 160px;
    margin: 15px;
    .small-spiner{
      right: -35px;
      top: 10px;
    }
  }
  .employee-details-bar {
    border-radius: 5px;
    width: 650px;
    background: #fbfbfb;
    padding: 20px;
    height: 275px;
    justify-content: space-between;
    display: flex;
    position: relative;

    .fte-bar-container{
      width: 300px;
      bottom: -40px;
      left: 5px;
      position: absolute;
    }

    .degree-bar-container{
      position: absolute;
      width: 120px;
      left: 5px;
      bottom: -160px;
    }
    .left-content {
      border-right: 2px solid #707070;
      width: 53%;
      & > p {
        color: #707070;
        text-align: center;
        margin-top: 40px;
      }
      .seniority {
        width: 65%;
        text-align: center;
        padding: 10px 0;
        font-size: 17px;
        letter-spacing: 1.5px;
        font-weight: bold;
        background: #d49595;
        margin: 15px auto 0 auto;
        border-radius: 22px;
        color: white;
      }
      header {
        display: flex;
        position: relative;
        margin-bottom: 10px;
        span {
          position: absolute;
          right: 15px;
          top: -10px;
        }
        .has-acc{
          color: #00ae6d; 
        }
        .no-acc{
          color: red;
        }

        .icon-container {
          display: inherit;
          align-items: center;
          flex-flow: column;
          figure {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 2px solid #707070;
            border-radius: 50%;
            i {
              font-size: 25px;
            }
          }
          p {
            padding: 10px 0;
            text-align: center;
          }
        }
        h2 {
          font-size: 20px;
          color: #707070;
          padding: 18px 0 0 15px;
          width: 100%;
        }
      }
    }
    .right-content {
      width: 48%;
      padding: 0 10px;
      position: relative;
      h2 {
        text-align: center;
        font-size: 24px;
        color: #707070;
      }
      p {
        margin: 30px 0;
        display: flex;
        font-size: 15px;
        justify-content: space-between;
      }
      button {
        color: lightseagreen;
        position: absolute;
        bottom: 0;
        background: transparent;
        margin: 0 auto;
        width: 100px;
        left: 0;
        right: 0;
        transition: 0.5s all ease-in-out;
        border: 1px solid transparent;
        padding: 10px;
        cursor: pointer;
      }
      button:hover {
        border-color: lightseagreen;
      }
    }
  }

}
