.fte-bar-container{
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    & > span{
        position: absolute;
        left: 0;
        right: 0;
        width: 50px;
        margin: 0 auto;
        bottom: -15px;
        font-size: 17px;
        text-align: center;
        font-weight: bold;

    }
    .fte-bar-progress, .fte-bar-regress, .marker{
        height: 33px;
        transition: 0.5s all ease-in-out;
    }
    .fte-bar-progress{
        background: #509054;
        text-align: right;
        padding-top: 10.5px;
        span{
            color: white;
            margin-right: 10.5px;
        }
    }
    .fte-bar-regress{
        background: #C9C4C4;
    }
    .marker{
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
}
