

.add-quarter-container{
    display: flex;
    @media(max-width: 799px){
        flex-flow: column-reverse;
    }
    h1{
        color: #8E8E8E;
        font-size: 20px;
        margin: 10px 0 10px 0;
    }
    .form-container{
        padding-bottom: 100px;
        width: 100%;
        @media(min-width: 800px){
            width: 40%;
        }
        h1{
           @media(max-width: 799px){
             margin-bottom: 35px;
           }     
        }
        .spinner-btn, .submit-btn, .incorrect-status, .correct-status{
            position: relative;
        }
        .incorrect-status, .correct-status{
            margin-top: 25px;
            bottom: 0;
        }
        label{
            font-size: 16px;
            @media(max-width: 450px){
                display: block;
                font-size: 13px;
            }
        }
        .input-container{
            .right-form-container{
                width: 95%;
                & > div{
                    position: relative;
                    display: flex;
                    .small-spiner{
                        right: 0;
                        top: -35px;
                    }
                    .active-plus{
                        cursor: pointer;
                        color: #82b541;
                    }
                    .unactive-plus{
                        color: lightgray;
                    }
                    i{
                        position: relative;
                        margin-left: 10px;
                        font-size: 22px;
                        margin-top: 7.5px;
                    }
                }
                p{
                    @media(max-width: 500px){
                        height: auto;
                    }
                }
            }
        }
       
    }
    .adding-quarter-settings{
        margin-left: 60px;
        h1{
            margin-bottom: 25px;
        } 
        @media(max-width: 799px){
            width: 100%;
            margin-left: 0;
            margin-bottom: 25px;
        }
        button{
            margin-right: 15px;
            @media(max-width: 899px){
                margin: 10px;
                padding: 10px 5px;
            }
        }
    }
  
}

.select-questions-modal{
    height: 550px !important;
    .questions-list{
        .search-box{
            input{
                background: #e8e8e8;
                color: black;
            }
        }
        .list{
            height: 250px;
            overflow-y: auto;
            margin-top: 30px;
            @media(max-width: 500px){
                .single-question-to-select{
                    padding: 10px;
                    .question-value{
                        max-width: 60%;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}