header {
    h1{
        padding: 20px 0 10px 0;
        font-size: 24px;
        @media(max-width: 468px){
            text-align: center;
            padding: 0;
        }
        i{
            margin-right: 10px;
            font-size: 28px;
        }
        span{
            color: #8E8E8E;
            font-size: 18px;
        }
    }
    nav{
        display: flex;
        padding: 15px 25px;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 866px){
            margin: 0 auto;
            justify-content: space-between;
            padding: 15px 0;
            align-items: center;
            .count-icons-container{
                margin: 15px 0 15px 0;
            }
        }
        .count-icons-container{
            margin-left: 25px;
            span{
                position: relative;
                margin-right: 25px;
                i{
                    margin-right: 7.5px;
                    font-size: 20px;
                }
                strong{
                    position: absolute;
                }
                .add-desc, .found-desc{
                    color: green;
                    position: absolute;
                    font-size: 13px;
                }
                .add-desc{
                    left: -25px;
                    top: -20px;
                }
                .found-desc{
                    bottom: -17.5px;
                    right: -45px;
                }
            }
        }
        .searcher-container{
            border: 1px solid lightgrey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 190px;
            border-radius: 17.5px;
            padding: 0 15px;
            input{
                margin: 5px 10px 5px 0;
                border: none;
                font-size: 12.5px;
                font-style: inherit;
                padding: 0;

                &:focus{
                    outline: none;
                    border: none;
                }
            }
        }
        .btns-container{
            button{
                margin-left: 15px;
                @media(max-width: 866px){
                    margin: 0 10px;
                }
                @media(max-width: 400px){
                    margin: 0 2.5px;
                }
            }
        }
    }
}
