.correct-operation{
    position: absolute;
    height: 60px;
    width: 60px;
    transform: scale(0.7);
    bottom: 25px;
    right: 10px;

}
.correct-operation::before, 
.correct-operation::after{
    content: '';
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.correct-operation::before{
    transform: rotate(45deg);
    animation: 0.5s correct-in-first ease-in-out forwards;
}
.correct-operation::after{
    transform: rotate(130deg);
    right: -40px;
    top: -20px;
    animation: 0.5s ease-in-out 0.1s correct-in-second forwards;
}
@keyframes correct-in-first {
    0%{
        width: 0;
        opacity: 0;
        height: 0;
    }   
    100%{
        width: 25px;
        background-color: green;
        background-color: green;
        opacity: 1;
        height: 7px;
    }
}
@keyframes correct-in-second {
    0%{
        width: 0;
        opacity: 0;
        height: 0;
    }   
    100%{
        width: 45px;
        opacity: 1;
        background-color: green;
        background-color: green;
        height: 7px;
    }
}