@import "../../ColorSchema.scss";

.user-selector-container {
  min-height: 15em;
  box-sizing: border-box;
}

.found-users-container {
  width: 100%;
  overflow-y: auto;
  min-height: 10em;
  table {
    width: 100%;
    thead {
      tr {
        th {
          color: $main-color;
          font-size: 80%;
          text-align: left;
          padding: 0.4rem;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;
        user-select: none;

        td {
          padding: 0.4rem;
        }
        &:hover {
          background: $main-color-hover-light;
        }
      }
    }
  }
}
