.user-selector-container {
  height: 100%;
}

.found-users-container {
  height: 550px;
  margin-left: 10px;
  margin-top: 40px;
  width: 60%;
  // overflow: auto;
  table {
    width: 100%;
    tbody {
      tr {
        th {
          color: blue;
          font-size: 0.8em;
          text-align: left;
          padding-bottom: 5px;
        }
        &:hover {
          background: #cde;
        }
        td {
          padding-right: 10px;
        }
        &:hover {
          background: rgb(170, 202, 235);
        }
      }
    }
  }
}
