.user-selector-container {
  min-height: 15em;
  box-sizing: border-box;
}

.found-users-container {
  overflow-y: auto;
  min-height: 10em;
  table {
    width: 100%;
    tbody {
      tr {
        th {
          color: blue;
          font-size: 80%;
          text-align: left;
          padding-bottom: 5px;
        }
        &:hover {
          background: #cde;
        }
        td {
          padding-right: 10px;
        }
        &:hover {
          background: rgb(170, 202, 235);
        }
      }
    }
  }
}
