@import "../../ColorSchema.scss";

.user-selector-container {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.found-users-wrapper {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  padding-top: 1.2em;
  div:nth-of-type(1) {
    width: 100%;
    span {
      display: inline-block;
      color: $main-color;
      font-size: 80%;
      padding: 0.4rem 0.4rem 0.4rem 0.4rem;
      box-sizing: border-box;
      &:nth-of-type(1) {
        width: 39.4%;
      }
      &:nth-of-type(2) {
        width: 59.6%;
      }
    }
  }
}

.found-users-container {
  width: 100%;
  height: calc(100% - 2.5em);
  overflow-y: auto;

  table {
    width: 100%;

    tbody {
      tr {
        cursor: pointer;
        user-select: none;

        td {
          padding: 0.4rem;
          &:nth-child(1) {
            width: 40%;
          }
          &:nth-child(2) {
            width: 60%;
          }
        }
        &:hover {
          background: $main-color-hover-light;
        }
      }
    }
  }
}
