.users-list-container {
  @media screen and (max-width: 500px) {
    tbody tr:first-child,
    th:first-child,
    th:nth-child(4),
    th:nth-child(5),
    td:first-child,
    td:nth-child(4),
    td:nth-child(5) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    th:nth-child(5),
    td:nth-child(5) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    tbody tr:first-child,
    th:first-child,
    td:first-child {
      display: none;
    }
  }
}
