.stats-container {
  text-align: center;
  margin-top: 3vh;
  .c3 {
    display: inline-block;
  }
  .chart-container {
    display: inline-block;
    border: 1px dashed lightgray;
    margin: 15px 5px 5px 5px;
    padding: 5px;
    span {
      text-align: center;
      display: block;
      padding: 3px;
    }
  }

  @media only screen and (max-width: 480px) {
    .c3 {
      display: flex;

      g {
        width: 200px;
      }
    }
    .chart-container {
      max-width: 288px;
    }
  }
}
