.info-client-list-header {
  display: flex;
  display: flex;
  align-items: center;

  .info-client-list-header-title {
    width: 70%;
    h2 {
      font-weight: bold;
      font-size: large;
    }
  }

  .info-client-list-header-input {
    width: 30%;
    text-align: right;
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      outline: none;
    }
    .switch input {
      display: none;
      position: absolute;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #2196f3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}
.info-client-list {
  display: inline-block;
  width: 100%;
  .info-list-item {
    display: flex;
    width: 100%;
    margin-top: 10px;
    .info-list-circle,
    .info-list-name{
      padding-top: 2% !important;
    }
    .info-list-options {
      float: left;
      button {
        &:nth-child(2) {
          margin-left: 9px;
        }
        &:disabled,
        &[disabled] {
          &:hover {
            i {
              color: unset;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .info-list-circle {
      background-color: #b63b51;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    .info-list-name {
      width: 80%;
      padding: 0 5%;
    }

    .info-list-options {
      width: 20%;
      text-align: center;

      button {
        border: none;
        background: none;
      }
    }
  }
  .messageClose {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
  }
}

.info-item-add {
  text-align: center;
  margin-top: 20px;

  button {
    border: none;
    background: #8c1b2f;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;

    i {
      margin-right: 5px;
    }

    &:hover {
      background-color: #4c0f19;
    }
  }
}
