
.project-details-container{
    height: 90%;
    margin-top: 20px;
    position: relative;
    font-size: 0.7rem;

    button:focus{
        outline: none;
    }
    header{
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        flex-flow: column;
        @media(min-width: 580px){
            flex-flow: row;
            border-bottom: 1px solid #f98c56;
            padding: 10px 0;
            height: 70px;
        }
    }
    header h1{
        width: 100%;
        display: inherit;
        align-items: center;
        padding-bottom: 10px;
        position: relative;
        @media(min-width: 580px){
            width: 34%;
        }
    }
    header h1 i{
        margin: 0 35px;
        @media(min-width: 1100px){
            margin: 0 20px;
        }
    }
    header h1 b{
        font-size: 15px;
        @media(min-width: 704px){
            font-size: 20px;
        }
        @media(min-width: 1100px){
            top: 0px;
            font-size: 24px;
            right: 15px;
        }
    }
    header h1 span{
        position: absolute;
        font-weight: bolder;
        bottom: -5px;
        margin-left: 20px;
        @media(min-width: 1100px){
            right: 10px;
            top: -10px;
        }
    }
    .spn-active{
        color: #37D037;
    }
    .spn-unactive{
        color: red;
    }
    .spn-closed{
        color: grey;
    }
    header nav{
        width: 100%;
        margin: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(min-width: 580px){
            justify-content: flex-end;
            width: 65%;
            border-left: 1px solid #f98c56;
            margin: initial;
        }
    }
  
    .project-carts{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    main{
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @media(min-width: 1110px){
            flex-flow: row;
        }
    }
    .owners-list{
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        .owner-btn{
            cursor: pointer;
            border: none;
            font-weight: bolder;
            position: relative;
            border-radius: 15px;
            color: black;
            padding: 10px;
            margin: 25px;
            background-color: rgba(0,0,0,0.2);
            @media(min-width: 764px){
                margin: 10px 0;
                padding: 15.5px 10px;
            }
            i{
                cursor: pointer;
                position: absolute;
                font-size: .7rem;
                bottom: -18px;
                right: 15px;
                color: red;
                @media(min-width: 764px){
                    margin: 10px 0;
                    padding: 15.5px 10px;
                    bottom: -40px;
                    font-size: 0.8rem;
                    right: 15px;
                }
            }
        }
    
    }
    .right-project-spec{
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        font-size: 0.8rem;
        h3{
            margin: 10px 0 30px 0;
            font-weight: bold;
        }
        @media(min-width: 1100px){
            width: 65%;
        }
    }

}


.option-btn{
    padding: 10px;
    transition: 0.5s all ease-in-out !important;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    width: 110px;
    border: 1px solid transparent;
}
.option-btn:first-of-type{
    margin-right: auto;
}
.option-btn:hover{
    transform: scale(1.05);
}
.green-btn{
    background-color: #1C7744;
    color: white;
}

.normal-btn{
    background-color: #883e4a;
    color: white;
}
.option-dang{
    background: lightgrey;
}
.option-very-dang{
    background: darkred;
    color: white;
}



.lte-pic-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label{
        margin: 0;
        width: 30%;
    }
    .progress-btns{
        align-items: center;
        margin: 0;
    }
}