.import-button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.import-cv-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000002e;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;

  @media screen and(max-width:900px) {
    margin-left: -2vh;
    margin-top: -20px;
  }

  @media screen and (min-width: 901px) {
    margin-left: -16px;
  }
}

.table {
  display: table;
  text-align: center;
  margin: 2% auto 0;
  border-collapse: separate;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;

  .theader > .table_header:first-child,
  .theader > .table_header:last-child,
  #results
    > div.table_item
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2),
  #results
    > div.table_item
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(6) {
    width: 1%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #results
    > div.table_item
    > div.table_row
    > div:nth-child(3)
    > div:nth-child(2),
  #results > div.theader > div:nth-child(3) {
    width: 5%;
  }

  a {
    display: table-cell;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  button {
    border: none;
    background: none;
  }
}

.table_item {
  display: contents;
}

.table_row {
  display: table-row;
}

.theader {
  display: table-row;
}

.table_header {
  display: table-cell;
  border-bottom: #ccc 1px solid;
  border-top: #ccc 1px solid;
  background: #006064;
  color: #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.table_header:first-child {
  border-left: #ccc 1px solid;
  border-top-left-radius: 5px;
}

.table_header:last-child {
  border-right: #ccc 1px solid;
  border-top-right-radius: 5px;
}

.table_small {
  display: table-cell;
}

.table_row > .table_small > .table_cell:nth-child(odd) {
  display: none;
  background: #bdbdbd;
  color: #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table_row > .table_small > .table_cell {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #5b5b5b;
  border-bottom: #ccc 1px solid;
  min-height: 20px;
}

.table_result {
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #5b5b5b;
  border-bottom: #ccc 1px solid;

  &:first-child {
    border-left: #ccc 1px solid;
  }
  &:last-child {
    border-right: #ccc 1px solid;
  }
}

.table_row > .table_small:first-child > .table_cell {
  border-left: #ccc 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}

.table_row > .table_small:last-child > .table_cell {
  border-right: #ccc 1px solid;
}

.table_row:last-child > .table_small:last-child > .table_cell:last-child {
  border-bottom-right-radius: 5px;
}

.table_row:last-child > .table_small:first-child > .table_cell:last-child {
  border-bottom-left-radius: 5px;
}

.table_row:nth-child(2n + 3) {
  background: #e9e9e9;
}

.import-details-container {
  position: absolute;
  right: 50px;
}

.import_succes {
  background-color: #00800042;
}

.import_fail {
  background-color: #ff000038;
}
.import_partially {
  background-color: #ffc40038;
}

@media screen and (max-width: 900px) {
  .table {
  }
}

@media screen and (max-width: 650px) {
  .table {
    display: block;
  }
  .table_row:nth-child(2n + 3) {
    background: none;
  }
  .theader {
    display: none;
  }
  .table_row > .table_small > .table_cell:nth-child(odd) {
    display: table-cell;
    width: 50%;
  }
  .table_cell {
    display: table-cell;
    width: 50%;
  }
  .table_row {
    display: table;
    width: 100%;
    border-collapse: separate;
    margin: 5% auto 0;
    text-align: center;
  }

  .table_result {
    display: none;
  }

  .table_small {
    display: table-row;
  }
  .table_row > .table_small:first-child > .table_cell:last-child {
    border-left: none;
  }
  .table_row > .table_small > .table_cell:first-child {
    border-left: #ccc 1px solid;
  }
  .table_row > .table_small:first-child > .table_cell:first-child {
    border-top-left-radius: 5px;
    border-top: #ccc 1px solid;
  }
  .table_row > .table_small:first-child > .table_cell:last-child {
    border-top-right-radius: 5px;
    border-top: #ccc 1px solid;
  }
  .table_row > .table_small:last-child > .table_cell:first-child {
    border-right: none;
  }
  .table_row > .table_small > .table_cell:last-child {
    border-right: #ccc 1px solid;
  }
  .table_row > .table_small:last-child > .table_cell:first-child {
    border-bottom-left-radius: 5px;
  }
  .table_row > .table_small:last-child > .table_cell:last-child {
    border-bottom-right-radius: 5px;
  }
}

.cv-dropzone {
  position: relative;
  border-width: 2px;
  border-color: rgb(0, 96, 100);
  border-style: dashed;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding: 10px;

  @media (min-width: 800px) {
    margin: 0 40px;
  }
}
