@import "../../ColorSchema";

$default-color: white;

$darkNavy: #213140;
$teal1: #66b3fb;
$teal2: #4b9dea;
$charcoal: #555555;
$gold: #b6985a;

$activeShadow: 0 0 10px rgba($teal1, 0.5);

/* MIXINS */
@mixin focusOutline {
  outline: dotted 1px #ccc;
  outline-offset: 0.45rem;
}
@mixin hideInput {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
@mixin breakpoint($point) {
  @if $point == 1100 {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == 800 {
    @media (max-width: 800px) {
      @content;
    }
  }
}

.unset-pointer {
  cursor: unset !important;
}

.raport-button {
  width: 150px;
  height: 35px !important;
  float: right;
  background-color: #8c1b2f !important;
  color: white !important;
  margin: 10px !important;
}
.raport-button:hover {
  background-color: #4c0f19 !important;
}

.smooth-operator {
  line-height: 6vh;
  padding-left: 0.5vh;
  user-select: none;
  margin: 20px 0 0;

  button {
    line-height: 4vh !important;
  }

  @media screen and (max-width: 500px) {
    margin: 20px auto;
  }

  .smooth-table-remove-filters {
    align-items: center;
    margin-left: 40px;
    height: 85%;
    line-height: 2;

    button {
      line-height: 20px !important;
      margin-right: 10px;
    }

    @media screen and (max-width: 1000px) {
      margin: 0;
      padding: 0;
    }
  }
  .smooth-radio-button1 {
    border-radius: 6px 0 0 6px;
    border-right: 0px !important;
    cursor: pointer;
  }

  .smooth-radio-button2 {
    border-right: 0px !important;
    border-left: 0px !important;
    cursor: pointer;
  }

  .smooth-radio-button3 {
    border-radius: 0 6px 6px 0;
    border-left: 0px !important;
    cursor: pointer;
  }

  @media screen and (min-width: 501px) {
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    input[type="radio"] {
      @include hideInput;
    }
    input[type="radio"] + label {
      margin: 0;
      padding: 0.75rem 2rem;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      border: solid 1px #ddd;
      background-color: #fff;
      font-size: 1rem;
      line-height: 140%;
      font-weight: 600;
      text-align: center;
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
      transition: border-color 0.15s ease-out, color 0.25s ease-out,
        background-color 0.15s ease-out, box-shadow 0.15s ease-out;

      /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
      /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
      /* ----- */
    }

    input[type="radio"]:hover + label {
      border-color: $darkNavy;
    }
    input[type="radio"]:checked + label {
      background-color: $teal2;
      color: #fff;
      box-shadow: $activeShadow;
      border-color: $teal2;
      z-index: 1;
      outline: none !important;
    }
    input[type="radio"]:focus + label {
      @include focusOutline;
    }

    @include breakpoint(800) {
      input[type="radio"] + label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .smooth-radio-span {
      margin: 0px;
      white-space: nowrap;
    }
  }

  span {
    float: left;
    display: inline-flex;
    margin: 0 20px;

    @media screen and (max-width: 500px) {
      float: unset;
      display: block;
    }
  }

  .smooth-operator-add-button {
    background-color: $button-element-background;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0 30px;
    float: left;
    height: 38px;

    &:hover {
      background-color: $button-element-hover-background;
    }
  }
  @media screen and (min-width: 1250px) {
    display: inline-block;
    width: 100%;
  }

  .smooth-separator {
    margin: 0 10px;
    color: desaturate(lighten($button-element-background, 20%), 20%);
  }

  button {
    background: $default-color;
    height: 5vh;
    line-height: 3vh;
    color: lighten($button-element-background, 20%);
    font-family: "Roboto";
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      border: none;
      background: darken($default-color, 5%);
    }
  }

  .smooth-show-deleted {
    vertical-align: middle;
    padding: 0 10px;
  }

  label {
    color: lighten($button-element-background, 20%);
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1rem;
  }

  input[type="text"] {
    width: 40%;
    height: auto;
    margin: 0 1em;
    transition: none !important;
  }

  input[type="checkbox"] {
    margin: 0 5px;
  }

  .loading {
    background-image: url("../../public/img/loader.gif");
    background-size: 16px 16px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
  }
}

.smooth-table {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 5vh;
  margin-top: 3vh;
  background: $default-color;
  padding: 0 2vh 6vh 2vh;
  width: 100%;
  display: table;
  position: relative;
  min-height: 78.9vh;

  @media screen and (max-width: 500px) {
    padding: 0px;
    .smooth-operator {
      height: unset;

      & > button {
        width: 90%;
        background-color: $button-element-background;
        color: $default-color;
      }
      span:nth-of-type(1) {
        width: 100%;
        display: block;
        text-align: center;
        input {
          width: 80%;
          visibility: visible;
          position: unset;
          transform: unset;
          height: unset;
          margin: 10px auto;
        }

        @media screen and (max-width: 500px) {
          width: unset;

          input[type="search"] {
            display: inline;
          }
        }
      }
      .smooth-separator,
      span:nth-of-type(2) {
        display: none;
      }

      .smooth-show-deleted {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
        text-align: center;
      }
      label {
        // width: 80%;
        display: block;
        text-align: left;
        color: #3c454c;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        margin: auto;
        padding: 10px;
        font-size: 14px;
        border-radius: 20px;

        &:before {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          content: "";
          background-color: #00989f;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
          opacity: 0;
          z-index: -1;
        }

        &:after {
          width: 32px;
          height: 32px;
          content: "";
          border: 2px solid #d1d7dc;
          background-color: #fff;
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
          background-repeat: no-repeat;
          background-position: 2px 3px;
          border-radius: 50%;
          z-index: 2;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          transition: all 200ms ease-in;
        }
      }

      input:checked ~ label {
        color: #fff;
        box-shadow: 0px 2px 3px black;
        text-shadow: 1px 1px 1px black;

        &:before {
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
          opacity: 1;
        }

        &:after {
          background-color: #8c1b2f;
          border-color: #8c1b2f;
        }
      }

      input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
      }
    }
  }

  .fa-sync-alt {
    font-size: 96% !important;
  }

  tr {
    word-break: break-all;
  }

  .smooth-paginator {
    height: 3rem;
    padding-right: 4vh;
    line-height: 3rem;
    text-align: right;
    font-size: 1em;
    user-select: none;
    position: absolute;

    bottom: 0;
    right: 0;

    .active {
      a {
        color: lighten($button-element-background, 20%);
      }
    }

    a {
      outline: none;
      font-weight: bold;
      padding: 1vh;
    }

    li {
      display: inline-block;
      cursor: pointer;
      outline: none;
      &:hover {
        a {
          color: lighten($button-element-background, 30%);
        }
      }
      &:active {
        a {
          color: lighten($button-element-background, 40%);
        }
      }
    }

    .disabled {
      cursor: not-allowed;
    }

    .next {
      padding-right: 0;
    }

    .smooth-navigator {
      i {
        padding: 0 1vh;
        color: black;
        transition: all 0.2s;
      }

      &:hover {
        i {
          color: lighten($button-element-background, 20%);
        }
      }
      &:active {
        i {
          color: lighten($button-element-background, 40%);
        }
      }
    }

    @media (max-width: 1366px) {
      font-size: 18px;
    }

    @media screen and (max-width: 500px) {
      text-align: center;
      padding: 0;
      width: 100%;
      position: relative;
    }
  }

  .smooth-arrow-right {
    float: right;
    color: lighten($button-element-background, 20%);
  }

  .smooth-loader-top {
    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .smooth-loader-bottom {
    .loader {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  table {
    width: 100%;
    thead {
      .smooth-row {
        &:hover {
          background-color: #fff;
        }
      }
      th {
        user-select: none;
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid darken($default-color, 15%);
        padding-right: 15px;
        @media screen and (min-width: 600px) {
          min-width: 110px;
        }
        @media screen and (max-width: 920px) {
          font-size: 14px;
          &:nth-child(6) {
            font-size: 10px;
            text-align: center;
          }
        }
        @media screen and (max-width: 500px) {
          min-width: 100px;
        }

        @media screen and (max-width: 360px) {
          min-width: unset;
        }
        &:first-of-type {
          padding-left: 2vh;
        }
      }
    }
    .smooth-text-center-row {
      text-align: center;
    }
    tr td {
      input {
        width: 90%;
        height: auto;
        transition: none !important;
        margin: 5px 0;
      }
      .loading {
        background-image: url("../../public/img/loader.gif");
        background-size: 16px 16px;
        background-position: 98% 50%;
        background-repeat: no-repeat;
      }
    }
  }

  .smooth-row {
    $margin: 2vw;
    height: 2rem;

    border-bottom: 1px solid darken($default-color, 5%);

    transition: all 0.5s;

    &:last-of-type {
      border: none;
    }

    &:hover {
      background-color: lighten($button-element-background, 61%);
      cursor: pointer;
    }

    .smooth-cell {
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      line-height: 2rem;
      white-space: nowrap;
      padding-right: 15px;
      font-size: 18px;
      @media screen and (max-width: 500px) {
        font-size: 14px;
        max-width: 100px;
      }

      @media screen and (max-width: 900px) {
        font-size: 13px;
        max-width: 200px;
      }

      @media screen and (min-width: 900px) {
        font-size: 14px;
        max-width: 300px;
      }

      &:first-of-type {
        padding-left: 2vh;
      }

      button {
        $default-dim: 35%;

        display: inline-block;
        text-align: center;
        height: 4vh;
        height: 4vh;
        line-height: 2vh;
        vertical-align: middle;
        border: 1px solid transparent;
        margin-right: 0.5vh;
        background: transparent;
        cursor: pointer;
        border-radius: 6px;

        &:hover {
          background: darken($default-color, 5%);
        }

        i {
          padding: 0;
          color: black;
          font-size: 120%;
          transition: all 0.2s;
        }

        &:hover {
          i {
            color: lighten($button-element-background, 20%);
          }
        }
        &:active {
          i {
            color: lighten($button-element-background, 40%);
          }
        }
      }
    }

    @media (max-width: 1000px) {
    }
  }
  .smooth-row-disabled {
    background: rgb(241, 241, 241);
  }
  .smooth-unfurl-content {
    width: 100%;
    overflow-y: auto;
    padding: 1.4vw;
    // background: darken($default-color, 7%);
  }
  .smooth-unfurled {
    height: 13rem;
    &:hover {
      background: $default-color;
    }
  }

  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
  }
}

.smooth-text-center {
  text-align: center;
}

.smooth-text-right {
  text-align: right;
}

.smooth-footer {
  text-align: center;
  padding: 4em;
  @media (max-width: 500px) {
    padding: 0;
  }
}
