.clients-container {
  .clients-list-container {
    width: 50%;
    float: left;
    height: 100%;

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    .clients-operators {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      & > div {
        width: 100%;
        display: flex;
        
        @media screen and (max-width: 500px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        @media screen and (min-width: 1120px) {
          width: 50%;
        }
      }
    }
  }

  .clients-info {
    width: 44%;
    float: left;
    height: 100%;
    margin-left: 5%;
    margin-top: 20px;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .anim-in {
    animation: 0.8s easyInLoad ease-in-out forwards;
  }
  @keyframes easyInLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .clients-list-container {
    margin-top: 20px;
  }

  .clients-not-found {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: red;
  }

  .client-name-input-error {
    text-align: center;
    padding: 20px;
    color: red;
    position: absolute;
  }
}
