.project-owner {
  background: #498a3c;
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 4px;
  box-sizing: border-box;
  user-select: none;
  height: 24px;
  .project-owner-name {
    display: inline-block;
    height: 24px;
    padding: 2px;
    line-height: 24px;
  }
  .project-owner-add {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: rgba(0, 255, 17, 0.4);
    &:after {
      content: '+';
    }
    height: 24px;
    padding: 2px;
    line-height: 24px;
  }
  .project-owner-delete {
    height: 24px;
    background: rgba(255, 0, 0, 0.4);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    line-height: 24px;
    &:hover {
      transition: all 0.5s;
      background: rgba(255, 0, 0, 0.6);
    }
  }
}
