.projects-list-container {
  @media screen and (max-width: 500px) {
    tbody tr:first-child,
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5) {
      display: none;
    }
  }

  @media screen and (max-width: 360px) {
    th:nth-child(2),
    td:nth-child(2) {
      display: none;
    }
  }
}
