$border-color: black;
$block-color: #ababab;

.skill-row-inb {
  display: inline-block;
}

.skill-row {
  box-sizing: border-box;
  height: 24px;
  .skill-row-cblock {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border: 1px solid $border-color;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 7px;
    margin-top: 4.5px;

    vertical-align: top;
  }
  .skill-row-name {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    line-height: 23px;
    font-size: 68%;
    padding-left: 2px;
    overflow: hidden;
    width: 165px;
    white-space: nowrap;
  }
  .skill-row-levels-editor {
    display: inline-block;
    line-height: 24px;
    font-size: 68%;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;

    vertical-align: top;
    input {
      height: 9px;
      width: 200px;
    }
  }
  .skill-row-levels {
    box-sizing: border-box;
    width: 200px;
    display: inline-block;
    height: 7px;
    vertical-align: top;
    margin-top: 7.1px;
    margin-right: 4px;
    .skill-level-1 {
      box-sizing: border-box;
      text-align: center;
      width: 20%;
      background: $block-color;
      height: 100%;
    }
    .skill-level-2 {
      box-sizing: border-box;
      text-align: center;
      width: 40%;
      background: $block-color;
      height: 100%;
    }
    .skill-level-3 {
      box-sizing: border-box;
      text-align: center;
      width: 60%;
      background: $block-color;
      height: 100%;
    }
    .skill-level-4 {
      box-sizing: border-box;
      text-align: center;
      width: 80%;
      background: $block-color;
      height: 100%;
    }
    .skill-level-5 {
      box-sizing: border-box;
      text-align: center;
      width: 100%;
      background: $block-color;
      height: 100%;
    }
  }
  .skill-row-separator {
    display: inline-block;
    line-height: 24px;
    font-size: 56%;
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;

    vertical-align: top;
  }
  .skill-row-yoe {
    display: inline-block;
    line-height: 24px;
    font-size: 68%;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 900;
    width: 100px;

    vertical-align: top;
  }
  .skill-row-yoe-range {
    display: inline-block;
    line-height: 24px;
    font-size: 68%;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;
    input[type="number"] {
      height: 20px;
      margin-top: 2px;
      margin-left: 3px;
      vertical-align: top;
    }
  }
  .skill-row-delete {
    display: inline-block;
    line-height: 16px;
    height: 18px;
    background: rgb(147, 0, 0);
    font-size: 100%;
    padding-left: 0px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2px;
    margin-left: 8px;
    color: white;
    padding: 0 4px;
    vertical-align: top;
    cursor: pointer;

    &:after {
      content: 'x';
    }
  }
}
