$width: 100%;
$main-color: rgb(149, 0, 157);
$prog-color: rgb(255, 166, 0);
$emblem-width: 20%;
.skills-select {
  height: 100%;
}
.skills-input-filter {
  position: absolute;
  top: 5px;
  width: 88%;
}
.skills-list {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 36px;
}

.project-skill {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  height: 32px;
  margin: 1px;
  background: rgb(115, 140, 140);
  cursor: pointer;
  user-select: none;

  .project-skill-name {
    display: inline-block;
    background: $main-color;
    color: white;
    vertical-align: top;
    text-align: center;
    padding: 7px;
    min-width: $emblem-width;
    height: 32px;
    text-align: center;
  }
  .project-skill-level {
    display: inline-block;
    line-height: 32px;
    width: $width - $emblem-width;
    height: 32px;
    vertical-align: top;
  }
  .skill-level-1 {
    text-align: center;
    width: 10%;
    background: $prog-color;
  }
  .skill-level-2 {
    text-align: center;
    width: 20%;
    background: $prog-color;
  }
  .skill-level-3 {
    text-align: center;
    width: 60% - $emblem-width;
    background: $prog-color;
  }
  .skill-level-4 {
    text-align: center;
    width: 80% - $emblem-width;
    background: $prog-color;
  }
  .skill-level-5 {
    text-align: center;
    width: 100% - $emblem-width;
    background: $prog-color;
  }
}

.project-skill-cut {
  width: 100%;
  .project-skill-name {
    width: 100%;
  }
}

.project-skill-duplicate {
  width: 100%;
  .project-skill-name {
    background: white !important;
    color: black !important;
    border: 2px solid darkgray;
    box-sizing: border-box;
  }
}

.project-skill-editable {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  height: 32px;
  margin: 1px;
  background: slategray;

  .project-skill-delete-block {
    display: inline-block;
    color: white;
    background: rgba(142, 0, 0, 0.855);
    vertical-align: top;
    text-align: center;
    padding: 7px;
    width: 5%;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
  }

  .project-skill-name {
    display: inline-block;
    color: white;
    vertical-align: top;
    text-align: center;
    padding: 7px;
    min-width: 15%;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
  }
  .project-skill-level-block {
    display: inline-block;
    line-height: 32px;
    color: white;
    text-align: center;
    border-right: 2px solid darken(slategray, 10%);
    width: 16%;
    height: 32px;
    vertical-align: top;
    user-select: none;
    cursor: pointer;

    &:nth-of-type(3):hover {
      background: darkgreen;
    }
    &:nth-of-type(4):hover {
      background: green;
    }
    &:nth-of-type(5):hover {
      background: rgb(174, 174, 38);
    }
    &:nth-of-type(6):hover {
      background: orange;
    }
    &:nth-of-type(7):hover {
      background: orangered;
    }
  }
}
