$width: 100%;
$main-color: rgb(149, 0, 157);
$prog-color: rgb(255, 166, 0);
$emblem-width: 20%;

.skill-yoe-block {
  margin-top: 0.5rem;
}

.skill-hr {
  hr {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}
.skills-select {
  height: 100%;
}
.skills-input-filter {
  position: absolute;
  top: 5px;
  width: 88%;
}
.skills-list {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 36px;
}

.project-skill-wrapper {
  background: #484848;

  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.project-skill {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  cursor: pointer;
  user-select: none;

  .project-skill-name {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px;
    height: 32px;
    text-align: center;
  }
  .project-skill-level {
    display: inline-block;
    line-height: 32px;
    width: 100%;
    height: 32px;
    color: white;
  }

  $block-color: #484848;

  .skill-level-1 {
    text-align: center;
    width: 20%;
    background: $block-color;
  }
  .skill-level-2 {
    text-align: center;
    width: 40%;
    background: $block-color;
  }
  .skill-level-3 {
    text-align: center;
    width: 60%;
    background: $block-color;
  }
  .skill-level-4 {
    text-align: center;
    width: 80%;
    background: $block-color;
  }
  .skill-level-5 {
    text-align: center;
    width: 100%;
    background: $block-color;
  }
}

.project-skill-cut {
  width: 100%;
  .project-skill-name {
    width: 100%;
  }
}

.project-skill-duplicate {
  width: 100%;
  .project-skill-name {
    background: white !important;
    color: black !important;
    border: 2px solid darkgray;
    box-sizing: border-box;
  }
}

.project-skill-editable {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  height: 32px;
  background: slategray;
  vertical-align: top;

  .project-skill-delete-block {
    display: inline-block;
    color: white;
    background: rgba(142, 0, 0, 0.855);
    text-align: center;
    padding: 7px;
    width: 20%;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    vertical-align: top;
  }

  .project-skill-name {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px;
    width: 80%;
    overflow: hidden;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
  }
}

.project-skill-level-blocks {
  display: block;
  width: 100%;
  background: slategray;
  box-sizing: border-box;
  margin-top: 0.3px;
  .project-skill-level-block {
    display: inline-block;
    line-height: 32px;
    color: white;
    text-align: center;
    //border-right: 2px solid darken(slategray, 10%);
    width: 20%;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;

    &:nth-of-type(1):hover {
      background: darkgreen;
    }
    &:nth-of-type(2):hover {
      background: green;
    }
    &:nth-of-type(3):hover {
      background: rgb(174, 174, 38);
    }
    &:nth-of-type(4):hover {
      background: orange;
    }
    &:nth-of-type(5):hover {
      background: orangered;
    }
  }
}
