.team-member-block {
  border: 1px solid rgba(0, 96, 100, 0.3);
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;

  .team-member-text-right {
    text-align: right;
  }

  .team-member-text-bold {
    font-weight: 900;
  }

  .team-member-headway {
    margin-top: 15px;
  }

  .team-member-backway {
    margin-bottom: 15px;
  }

  .team-member-right {
    padding: 7px;
  }

  .team-member-left {
    padding: 7px;
    i {
      display: inline-block;
      margin-right: 5px;
    }
    h4 {
      display: inline-block;
      font-size: 105%;
      font-weight: 900;
    }
    .team-job-title {
      margin-left: 21px;
    }
    div {
      min-width: 100px;
    }
  }
}
