.contact-list-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    .contact-list{
        border: 1px solid #20B2A9 !important;
        transition: 0.5s all ease-in-out;
        width: 68%;
        box-sizing: border-box;
        border-radius: 5px;
    
        .option{
            font-size: 16px;
        }
        .option:hover{
            cursor: pointer;
        }
    }
    
    .contact-list:focus{
        outline: none;
        -webkit-box-shadow: -1px 1px 24px -2px rgb(71, 138, 160);
        -moz-box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
        box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
    }
    label{
        width: 32%;
        text-align: center;
    }
    @media(max-width: 450px){
        flex-flow: column;
        .contact-list{
            width: 100%;
        }
        label{
            display: none;
        }
    }

}

