.table-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    h3{
        margin: 45px 0 !important;
        font-size: 1rem;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        transition: 0.5 all ease-in-out;
        position: relative;
        tr {
            position: relative;
            @media(max-width: 560px){
                font-size: 0.7rem;
            }
            td:nth-of-type(4), th:nth-of-type(4){
                @media(max-width: 764px){
                    display: none;
                }
            }
            td:nth-of-type(3), th:nth-of-type(3){
                @media(max-width: 560px){
                    display: none;
                }
            }
            td:nth-of-type(2), th:nth-of-type(2){
                @media(max-width: 400px){
                    display: none;
                }
            }
        }

        .detail-table-header{
            cursor: context-menu !important;
            list-style: none;
            color: black;
            &:hover{
                background: #dddddd;
            }
        }
        .detail-table-header td{
            width: 100%;
            position: absolute;
            z-index: 5;
            background: #dddddd;
            .btn-td-container{
                text-align: right;
                button{
                    margin-left: 15px;
                }
            }
        }
        .detail-team-list h5{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: wrap;
            line-height: 22.5px;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            .fa-external-link-square-alt{
                cursor: pointer;
                font-size: 20px;
            }
            .fa-pen-square{
                color: #1c7744;
                margin-left: 5px;
                cursor: pointer;
                font-size: 20px;
            }
            .fa-minus-square{
                color: #8c1b2f;
                margin-left: 5px;
                cursor: pointer;
                font-size: 20px;
            }
            b{
                font-weight: bold;
                color: #006064;
                justify-content: center;
                display: flex;
                flex-flow: wrap;
                i{
                    margin-left: 10px;
                }
            }
        }
        .detail-team-list li{
            padding: 10px;
        }
        .detail-team-list li:nth-of-type(1){
            text-align: right;
            line-height: 22.5px;
            b{
                margin-right: 5px;
            }
            i{
                margin-left: 5px;
            }
            b, i{
                font-weight: bold;
            }
        }
        .detail-team-list li:nth-of-type(2){
            display: flex;
            flex-flow: wrap;
            i {
                margin: 5px;
                color: white;
                padding: 5px;
                background-color: #006064;
                border-radius: 5px;
                @media(max-width: 440px){
                    font-size: 10px;
                    padding: 2.5px;
                }
            }
        }
        .detail-team-list p{
            padding: 5px 10px;
            font-size: 14px;
            font-weight: bold;
        }
        tbody tr:hover{
            background-color: rgba(0,0,0,0.2);
            cursor: pointer;
        }
        th{
            color: #006064;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    }

    .empty-project-squad{
        width: 100%;
        min-height: 270px;
        margin: 25px auto;
        background-color: rgba(0,0,0,0.2);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        @media(min-width: 764px){
            width: 74%;
            height: 400px;
        }
        @media(min-width: 1110px){
            width: 100%;
            height: 100%;
        }
        div{
            position: relative;
            span{
                font-size: 0.8rem;
                @media(min-width: 764px){
                    font-size: 1rem;
                }
            }
        }
        .fa-user-plus{
            bottom: -45px;
            cursor: pointer;
            left: 0;
            width: 32px;
            right: 0;
            margin: 0 auto;
            font-size: 32px;
            position: absolute;
            color: #988C98;
        }

    }

}


.add-programmer-btn{
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #883e4a;
    color: white;
    width: 100px;
    transition: 0.5s all ease-in-out;
    border: none;
}
.add-programmer-btn:hover{
    background-color: #994f5b;
}


.opinion-container{
    width: 100%;
    height: 100%;
    position: relative;
    .empty-opinions{
        font-size: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 50px;
        margin: auto;
        font-weight: 400;
    }
    .add-opinion-container{
        .submit-btn{
            @media(max-width: 440px){
                margin: 40px auto !important;
            }
        }
        .input-container{
            height: 150px;

            textarea{
                height: 200px;
            }
        }
    }
    .show-opinions-btn{
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 5px 0;
        cursor: pointer;
        color: blue;
        bottom: 0;
        left: 15px;
        @media(max-width: 440px){
            bottom: -5px;
            left: 0px;
        }
    }
    .show-opinions-btn:focus{
        outline: none;
    }
    .opinion-list-container{
        width: 100%;
        height: 80%;
        overflow-y: auto;
        box-sizing: border-box;

        ul{
          li{
              margin: 10px 0;
              p{
                  margin: 5px 0;
              }
              p:first-of-type{
                  color: lightseagreen;
                  font-size: 16px;
              }
              p:last-of-type{
                  padding: 10px;
                  font-size: 14px;
                  box-sizing: border-box;

              }
          }
        }
    }


}

.empty-list-err{
    color: tomato;
    text-align: center;
    position: absolute;
    top: 48%;
    width: 100%;
}

.employee-opinion-modal{
    top: 10%;
}
