.table-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
   
        
   
    h3{
        margin: 45px 0 !important;
        font-size: 1rem;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        transition: 0.5 all ease-in-out;
        position: relative;
        tr {
            @media(max-width: 560px){
                font-size: 0.7rem;
            }
            td:nth-of-type(4), th:nth-of-type(4){
                @media(max-width: 764px){
                    display: none;
                }
            }
            td:nth-of-type(3), th:nth-of-type(3){
                @media(max-width: 560px){
                    display: none;
                }
            }
            td:nth-of-type(2), th:nth-of-type(2){
                @media(max-width: 400px){
                    display: none;
                }
            }
        }
       
        .detail-table-header{
            color: white;
            padding: 15px;
        }
        .detail-table-header td{
            position: absolute;
            min-height: 150px;
            background-color: #d8d8d8 !important;
            transition: 0.5s all ease-in-out;
            z-index: 100;
            color: black;
            animation: 0.5s header-anim linear forwards;
            @media(max-width: 764px){
                font-size: 0.7rem;
                min-height: 300px;
                width: 100%;
            }
            .option-btn:last-of-type{
                right: 120px;
            }
            .option-btn{
                bottom: 2.5px;
                right: 10px;
                color: white;
                position: absolute;
                @media(max-width: 480px){
                    font-size: .7rem;
                    width: 100px;
                }
                    
            }
           
        }
        @keyframes header-anim {
            0%{
                width: 0%;
                opacity: 0;
            }
            100%{
                opacity: 1;
                width: 100%;
            }
        }
        @keyframes content-anim {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        .detail-table-header:hover{
            background-color: lightcoral !important;
        }
        
        .detail-team-list{
            position: relative;
            padding-top: 30px;
            animation: 1.5s content-anim ease-in-out forwards;
        }
        .detail-team-list h5{
            position: absolute;
            top: 0;
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            @media(max-width: 480px){
                flex-flow: column;
                text-align: center;
            }
            b{
                @media(max-width: 480px){
                    i{
                        margin-top: 8px;
                    }
                }
                display: inherit;
                @media(max-width: 764px){
                    flex-flow: column;
                }
                #str-date{
                    color: green;
                    margin-right: 10px;
                }
              
                #ed-date{
                    color: red;
                }
            }
            
        }
        .detail-team-list li:nth-of-type(1){
            width: 100%;
            text-align: center;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid transparent;
            @media(max-width: 764px){
                margin-top: 20px;
            }                
            @media(max-width: 480px){
                margin: 60px 0 20px 0;
                line-height: 15px;
                
            }
            b{
                color: tomato;
            }
        }
        .detail-team-list li:nth-of-type(2){
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-flow: wrap;
            i {
                margin: 5px;
                color: white;
                padding: 5px;
                background-color: darkcyan;
                border-radius: 5px;
                @media(max-width: 440px){
                    font-size: 10px;
                    padding: 2.5px;
                }
            }
        }
        .detail-team-list p{
            padding: 5px;
            color: darkcyan;
            font-size: 14px;
        }
        .moment-date{
            color: darkcyan;
        }
        tr:hover{
            background-color: rgba(0,0,0,0.2);
        }
        tr{
            cursor: pointer;
        }
        th{
            font-weight: bold;
            color: #493da8;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    
    }

    .empty-project-squad{
        width: 100%;
        height: 250px;
        margin: 25px auto;
        background-color: rgba(0,0,0,0.2);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        @media(min-width: 764px){
            width: 74%;
            height: 400px;
        }
        @media(min-width: 1110px){
            width: 100%;
            height: 100%;
        }
        div{
            position: relative;
            span{
                font-size: 0.8rem;
                @media(min-width: 764px){
                    font-size: 1rem;
                }
            }
        }        
        .fa-user-plus{
            bottom: -45px;
            cursor: pointer;
            left: 0;
            width: 32px;
            right: 0;
            margin: 0 auto;
            font-size: 32px;
            position: absolute;
            color: #988C98;
        }
        
    }
   
}


.add-programmer-btn{
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #883e4a;
    color: white;
    width: 100px;
    transition: 0.5s all ease-in-out;
    border: none;
}
.add-programmer-btn:hover{
    background-color: #994f5b;
}   


.opinion-container{
    width: 100%;
    height: 100%;
    position: relative;
    .add-opinion-container{
        .submit-btn{
            @media(max-width: 440px){
                margin: 40px auto !important;
            }
        }  
        .input-container{
            height: 150px;

            textarea{
                height: 200px;
            }
        }
    }
    .show-opinions-btn{
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 5px 0;
        cursor: pointer;
        color: blue;
        bottom: 0;
        left: 15px;
        @media(max-width: 440px){
            bottom: -5px;
            left: 0px;
        }
    }
    .show-opinions-btn:focus{
        outline: none;
    }
    .opinion-list-container{
        width: 100%;
        height: 80%;
        overflow-y: auto;
        box-sizing: border-box;

        ul{
          li{
              p{
                  margin: 5px 0;
              }
              p:first-of-type{
                  color: lightseagreen;
                  font-size: 14px;
              }
              p:last-of-type{
                  padding: 10px;
                  box-sizing: border-box;

              }
          }
        }
    }
    
    
}

.empty-list-err{
    color: tomato;
    text-align: center;
    position: absolute;
    top: 48%;
    width: 100%;

}