#not-found-container {
  margin-top: 10%;

  #not-found-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .not-found-header-icon {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      .vector_cut {
        height: 200px;
        width: 45%;
      }
    }
    .not-found-header-text {
      width: 50%;

      hr {
        width: 50%;
      }
    }
  }
}
