.plan-quarter-container{
    display: flex;
    color: #2b2b2b;
    flex-flow: wrap;
    justify-content: center;
    @media(min-width: 1200px){
        padding: 20px;
    }
    @media(max-width: 1000px){
        margin-top: 25px;
    }
    & > div > h2{
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
    .dates{
        @media(max-width: 750px){
            width: 100%;
        }
    }
    .plan-quarter-form{
        position: relative;
        height: 350px;
        width: 350px;
        margin: 45px 45px;
        .submit-btn, .spinner-btn{
            bottom: -180px;
        }
        .correct-status, .incorrect-status{
            bottom: -90px;
        }
        @media(max-width: 750px){
            .right-form-container{
                .form-error{
                    height: auto;
                }
            }
            .submit-btn, .spinner-btn, .correct-status, .incorrect-status{
                position: relative;
                bottom: 0;
            }
            .correct-status, .incorrect-status{
                margin-top: 25px;
            }
        }
     
        
    }
    .hours-to-use-container{
        margin: 45px 45px;
        width: 500px;
        height: 350px;     
        @media(max-width: 1000px){
            margin-top: 180px;
        }
        @media(max-width: 750px){
            width: 100%;
        }
        @media(max-width: 450px){
            margin-top: 50px;
        }
    }
}