.single-question-to-select{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    .question-value{
        margin-right: 15px;
    }
    .custom-checkbox-container{
        width: 32px;
        height: 32px;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        border: 1px solid transparent;
        border-radius: 50%;
        i{
            transition: .5s;
            color: white;
            
            font-size: 15px;
        }
    }
    .checked-checkbox{
        background: #82b541;
        border-color: #82b541;
        &:hover{
            background: transparent;
            border-color: lightslategrey;
        }
        &:hover i{
            opacity: 0;
        }
        
    }
    .unchecked-checkbox{
        background: transparent;
        border-color: lightslategrey;
        i{
            opacity: 0;
        }
        &:hover{
            background: #82b541;
            border-color: #82b541;
        }
        &:hover i{
            opacity: 1;
        }
    }
}
.check-animation{
    background: #e8e8e8;
}
.un-check-animation{
    background: transparent;
}