.quarters-panel{
    margin-bottom: 50px;
    .recent-watched{
        display: flex;
        flex-flow: wrap;
        @media(max-width: 500px){
            justify-content: center;
        }
        .last-watched-person-focused{
            background: #F7F7F7 !important;
            border-bottom-color: #82b541 !important;
        }
        .last-watched-person{
            cursor: pointer;
            margin: 0 10px;
            transition: .5s;
            border-bottom: 3px solid transparent;
            display: inherit;
            align-items: center;
            padding: 10px;
            @media(max-width: 500px){
                font-size: 14px;
                padding: 10px 5px;
            }
            &:hover{
                background: #e8e8e8;
            }
            .avatar-container{
                background: #3C3C3C;
                border-radius: 50%;
                display: inherit;
                height: 35px;
                width: 35px;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                position: relative;
                @media(min-width: 550px){
                    height: 50px;
                    margin-right: 7.5px;
                    width: 50px;
                    i{
                        font-size: 17px;
                    }
                }
                .image{
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    border-radius: 50%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                }
                i{
                    color: #e8e8e8;
                    font-size: 14px;
                    z-index: 0;
                }
            }
        }
    }
    & > nav{
        padding-top: 30px;
        display: flex;
        flex-flow: wrap;
        @media(min-width: 900px){
            .btn-brown{
                margin-left: auto;
            }
            button {
                margin-right: 15px;
            }
        }
        @media(max-width: 899px){
            button{
                margin: 10px;
                padding: 10px 5px;
            }
        }
    }
    .quarters-content {
        @media(min-width: 800px){
            padding: 15px;
        }
    }
    
}