.quarters-panel{
    & > header{
        font-size: 24px;
        padding: 10px 0 15px 0;
        margin: 15px 0;
        i{
            margin-right: 10px;
        }
    }
    .recent-watched{
        display: flex;
        padding: 10px 10px 0 10px;
        flex-flow: wrap;
        background: #F7F7F7;
        .last-watched-person{
            cursor: pointer;
            margin: 0 20px 20px 0;
            display: inherit;
            border-right: 1px solid #3C3C3C;
            align-items: center;
            padding-right: 20px;
            span:first-of-type{
                height: 50px;
                background: #3C3C3C;
                width: 50px;
                border-radius: 50%;
                display: inherit;
                align-items: center;
                justify-content: center;
                margin-right: 7.5px;
                i{
                    font-size: 18px;
                    color: #e8e8e8;
                }
            }
        }
    }
    & > nav{
        padding-top: 30px;
        button {
            margin-right: 15px;
        }
    }
    .quarters-content {
        padding: 15px;
    }
    
}