@import "../ColorSchema.scss";
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Fugaz+One");
@import url("https://fonts.googleapis.com/css?family=Faster+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

::-webkit-scrollbar-track {
  border: 1px solid $main-color;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

.wrapper {
  width: 100%;
  background: $content-background;

  overflow-y: scroll;

  .header {
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;

    .first-bar {
      height: 9px;
      width: 100%;
      background: darken($main-color, 5%);
    }
    .second-bar {
      height: 100%;
      width: 100%;
      background: $main-color;
    }

    .left-menu {
      background: $left-menu-background;
      position: fixed;
      left: 0;
      height: 94%;
      width: 62px;
      z-index: 11;
      top: 55px;
      color: transparent;
      display: inline-block;
      vertical-align: top;
      transition-property: width;
      transition-duration: 0.3s;
      box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.75);

      li {
        // height: 53px;
        width: 100%;
        line-height: 1.5em;
        vertical-align: baseline;
        cursor: default;
        color: $menu-element-text-color;
        background: $left-menu-li-background;
        border-bottom: 1px solid $left-menu-li-border-bottom-color;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        user-select: none;

        span {
          visibility: hidden;
          opacity: 0;
          transition-property: opacity;
          transition-duration: 0.2s;
          max-width: 0;
        }
        i {
          padding: 11px;
          margin-left: 10px;
        }
        &:hover {
          background-color: $left-menu-li-hover-background;
          cursor: pointer;
          i {
            color: $left-menu-li-hover-icon-color;
          }
        }
      }
      .active {
        li {
          background: $left-menu-li-active-background;
        }
      }
      &.extended {
        width: 15%;
        li {
          span {
            display: inline-block;
            visibility: visible;
            width: 100%;
            opacity: 1;
            padding-left: 1vh;
          }
          &.extender {
            width: 100%;
          }
        }
      }
    }
    .top-bar {
      position: absolute;
      right: 16px;
      top: 9px;
      line-height: 42px;
      font-size: 16px;
      // height: 5vh;
      vertical-align: baseline;
      color: white;
      .logged-in-user {
        padding-right: 1vw;
      }
      .nav-compact {
        height: 25px;
        line-height: 14px;
        vertical-align: baseline;
        span {
          font-size: 13px;
        }
        i {
          font-size: 13px;
        }
      }
    }
    .logo {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 15px;
      text-align: center;
      height: 34px;
      background-size: 32px;
      filter: brightness(0) invert(1);
    }
    .title {
      position: absolute;
      left: 5vw;
      top: 1.4vh;
      line-height: 3.8vh;
      vertical-align: baseline;
      color: white;
      font-size: 3.8vh;
      font-family: "Faster One", cursive;
    }

    .extender {
      cursor: pointer;
      position: absolute;
      top: 8px;
      width: 60px;
      height: 43px;
      line-height: 43px;
      vertical-align: baseline;
      color: $menu-element-text-color;
      z-index: 2;
      font-size: 60%;
      i {
        padding-left: 16px;
        font-size: 33px;
        padding-top: 11px;
      }
    }
  }
  .content {
    height: 94vh;
    margin-left: 5%;
    margin-right: auto;
    width: 95%;
    padding: 1.1vh;
    box-sizing: border-box;
    margin-top: 6vh;
    color: $content-color;
    @media screen and (max-width: 900px) {
      padding: 0;
    }
  }
}
@media (max-width: 1366px) {
  .wrapper {
    height: auto;
    overflow: auto;

    font-size: 120%;

    .header {
      width: 100%;
      .left-menu {
        width: 0;
        li {
          display: none;
        }
        &.extended {
          width: 20%;

          li {
            display: block;
            padding: 0px;
          }
        }
      }
      .title {
        display: none;
      }
      .top-bar {
        margin-right: 0.5em;
        .logged-in-user {
          color: transparent;
          strong {
            color: $menu-element-text-color;
            margin-right: 15px;
          }
        }
      }
    }
    .content {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 1000px) {
  margin-top: 0px;
  .wrapper {
    height: auto;
    overflow: auto;
    font-size: 270%;

    .header {
      width: 100%;
      font-size: 75%;

      .left-menu {
        height: 0;
        width: 100%;
        box-shadow: none;
        li {
          display: none;
        }
        &.extended {
          height: auto;
          width: 100%;
          box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.75);
          li {
            display: block;
          }
        }
      }
      .title {
        display: none;
      }
      .top-bar {
        margin-right: 0.5em;
        .logged-in-user {
          color: transparent;
          strong {
            color: $menu-element-text-color;
            margin-right: 15px;
          }
        }
      }
    }
    .content {
      width: 95%;
    }
  }
  @media (max-width: 540px) {
    .logged-in-user {
      display: none;
    }
  }
}
