@import "3rd/Reset.scss";
@import "ColorSchema.scss";
@import "./components/Button";
@import "./components/Input";
@import "./components/table/SmoothTable";
@import "./components/Logo";
@import "./components/commonModals/ResultModal";

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  background: $content-background;
}

::selection {
  background: #ffb97c; /* WebKit/Blink Browsers */
}

.text-right {
  text-align: right;
}

a,
a:visited {
  text-decoration: none;
  color: darken(rgb(103, 163, 181), 18%);
}

.result-block {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.result-success {
  color: darkgreen;
}
.result-failure {
  color: $button-element-background;
}

.Modal {
  height: 450px;
  width: 600px;
  background-color: #eee;
  box-shadow: 5px 10px 10px #888888;

  svg {
    z-index: 2;
  }

  header {
    border-bottom: 1px solid #d3d3d3;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    h3 {
      line-height: 30px;
      color: gray;
      font-variant: small-caps;
    }

    .close-button {
      margin-left: 83%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .user-details-container,
  .project-details-container {
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;

    .detail-container {
      margin-bottom: 0.4em;
    }

    label {
      display: inline-block;
      font-size: 15px;
      width: 20%;
    }
    span {
      font-weight: 700;
      font-size: 15px;
      margin-left: 0.5em;
    }
    input {
      margin: 0;
      height: 1.7em;
    }
  }

  .edit-user-button-container,
  .edit-project-button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
  }

  @media only screen and (max-width: 1366px) {
    // height: 80%;
    // width: 80%;

    // font-size: 160% !important;
  }
  @media (min-width: 461px) and (max-width: 608px) {
    height: 370px;
    font-size: 14px;
  }

  @media only screen and (max-width: 460px) {
    height: 500px;

    // font-size: 230% !important;
  }
}
