@import "3rd/Reset.scss";
@import "ColorSchema.scss";
@import "./components/common/Button";
@import "./components/common/Input";
@import "./components/common/ContentContainer";
@import "./components/common/ContentContainer";
@import "./components/table/SmoothTable";
@import "./components/common/Logo";
@import "./components/common/Flags";
@import "./components/common/modals/ResultModal";
@import "./components/projects/Skill";
@import "./components/projects/SkillRow";
@import "./components/projects/Owner";
@import "./components/employees/SeniorityBlock";
@import "./components/employees/CapacityBlock";
@import "./components/employees/CapacitySlider";
@import "./components/employees/SenioritySlider";
@import "./components/employees/EmployeeDetailContainer";
@import "./components/projects/ProjectDetailContainer";
@import "./components/projects/TeamMemberBlock";
@import "./components/projects/TeamMemberCompact";
@import "./components/assigns/AssignContainer";
@import "./components/stats/StatsContainer";

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  background: $content-background;
}

::selection {
  background: #ffb97c; /* WebKit/Blink Browsers */
}

.button-group {
  button {
    margin-right: 15px;
  }
}

.text-just {
  display: block;
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 900;
}

a,
a:visited {
  text-decoration: none;
  color: darken(rgb(103, 163, 181), 18%);
}

.underline-anchors {
  a,
  a:visited {
    border-bottom: 1px dashed darken($main-color, 5%);
    color: darken(white, 3%);
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed lighten($main-color, 5%);
    cursor: pointer;
  }
}

.content-abs-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 16px 8px 8px;
  color: darken($body-background, 0.1%);
}

@media screen and (max-width: 420px) {
  .content-abs-footer {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

.user-role-symbol {
  display: inline-block;
  width: 14px;
  margin: 0 5px;
  &.Developer {
    color: gray;
  }
  &.Tradesman {
    color: rgb(98, 176, 132);
  }
  &.Human {
    color: rgb(46, 125, 168) (98, 176, 132);
  }
  &.Team {
    color: rgb(108, 178, 61);
  }
  &.Administrator {
    color: rgb(150, 52, 52);
  }
  &.Manager {
    color: rgb(166, 50, 147);
  }
}

.internum {
  padding: 25px;
}

.scroll-container {
  height: 73.3vh;
  overflow-y: auto;
}

.result-block {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px 0;

  img {
    width: 100%;
  }

  b {
    font-weight: bold;
  }

  p {
    padding: 10px;
  }

  ul {
    padding: 10px;
  }
}
.result-success {
  color: darkgreen;
}
.result-failure {
  color: $button-element-background;
}
.result-error {
  color: $button-element-background;

  h1 {
    font-size: 40px;
  }
}

.Modal {
  height: 450px;
  width: 600px;
  background-color: #eee;
  box-shadow: 5px 10px 10px #888888;

  svg {
    z-index: 2;
  }

  header {
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-left: 5px;
    h3 {
      line-height: 30px;
      font-size: 1.1em;
      color: gray;
      font-variant: small-caps;
      letter-spacing: 0.7px;
    }

    .close-button {
      margin-left: 83%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.Modal-users {
  height: 400px;
}

.Modal-projects {
  height: 510px;
  @media (max-width: 575px) {
    height: 900px;
  }
}

.Modal-assignment {
  height: auto;
}
