@import "3rd/Reset.scss";
@import "ColorSchema.scss";
@import "./components/Button";

body {
  background: $body-background;
  font-family: "Roboto Condensed", sans-serif;
}

::selection {
  background: #ffb97c; /* WebKit/Blink Browsers */
}

.text-right {
  text-align: right;
}

a, a:visited {
  text-decoration: none;
  color: darken(rgb(103, 163, 181), 8%);
}

.ReactModal__Overlay {
  z-index: 100;
}
