$body-background: #D7D9DE;
$wrapper-background: lighten(#D7D9DE, 10%);
$logo-background: #92949F;
$menu-element-text-color: white;
$menu-element-background: #767881;
$menu-element-active-background: #222327;
$menu-element-hover-background: #1F2224;
$menu-element-icon-hover-color: #A4B9C0;
