.login-form {
    margin: auto;
    width: 33%;
    min-width: 300px;
    // border: 1px solid red;
}

.container{
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    clear: both;

    a {
        text-decoration: none;
    }
    button {
        outline: none;
        display: inline-block;
        background: white;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 0.5em;
        width: 50%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    button[type='submit']{
        margin: 1em;
        font-weight: 700;
    }
    button:active {
        border: 1px solid orange;
    }
}

.centric-container {
    text-align: center;
    button {
        display: inline-block;
        margin: 0.5em;
    }
}

.checkbox-container{
    padding: 0.5em;
}

.user-container, .password-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    label {
        display: inline-block;
        padding: 0.5em;
        width: 30%;
    }
    input {
        display: inline-block;
        padding: 0.5em;
        border: none;
        outline: none;
        border-bottom: 1.2px solid darkgray;
        font-family: 'Roboto Condensed', sans-serif;
        width: 70%;
        font-weight: 700;
    }
    input:focus{
        border-bottom: 1.2px solid orange;
        transition: all 0.3s;
    }
}

.psw {
    padding: 0.5em;
    display: inline-block;
}

.remember-me{
    float: right;
}
