@import "ColorSchema.scss";
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
  height: 100vh;
  width: 100vw;
  background: $wrapper-background;

  .header {
    height: 8vh;
    overflow: hidden;
    white-space: nowrap;

    .logo {
      display: inline-block;
      width: 15%;
      height: 100%;
      vertical-align: top;
      overflow: hidden;
      white-space: nowrap;
      background: $body-background;

      img {
        display: inline-block;
        height: 6vh;
        width: 6vh;
        padding: 1vh;
      }
      .title-container {
        display: inline-block;
        vertical-align: top;
        padding-left: 0.6vw;

        .title {
          text-shadow: 0 0 1px rgba(35,31,32, 0.1);
          font-family: 'Roboto', sans-serif;
          color: #231F20;
          line-height: 8vh;
          font-size: 2em;
          font-weight: 900;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .top-bar {
      display: inline-block;
      width: 85%;
      height: 100%;
      vertical-align: top;
      line-height: 8vh;
      text-align: right;
      border-bottom: 1px solid lighten($logo-background, 25%);
      background: $body-background;
      .logged-in-user {
        padding-right: 1em;
        strong{
          font-weight: 800;
        }
      }
      button {
        margin-right: 15px;
        transition: all 0.3s;
      }
    }
  }
  .content {
    height: 84vh;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -1px;

    .left {
      padding-right: -1px;
      display: inline-block;
      width: 15%;
      height: 100%;
      vertical-align: top;
      .left-menu {
        padding: 1.1vh;
        background: $logo-background;
        height: 100%;

        li {
          height: 1.5em;
          line-height: 1.5em;
          vertical-align: baseline;
          cursor: default;
          user-select: none;
          transition: all 0.3s;
          padding: 0.4em;
          color: $menu-element-text-color;
          background: $menu-element-background;
          margin-bottom: 0.4em;
          border: 1px solid transparent;
          transition: all 0.3s;

          i {
            padding-right: 1.1vw;
            padding-left: 0.5vw;
          }
          &:hover {
            background-color: darken($menu-element-hover-background, 5%);
            border: 1px solid lighten($menu-element-hover-background, 25%);
            padding-left: 20px;
            cursor: pointer;
            i {
              color: lighten($menu-element-icon-hover-color, 35%);
            }
          }
        }
      }
    }
    .right {
      display: inline-block;
      width: 85%;
      height: 100%;
      padding: 1.1vh;
      border-left: 1px solid lighten($logo-background, 25%);
    }
  }
  .footer {
    box-sizing: border-box;
    height: 8vh;
    line-height: 8vh;
    padding: 1vh;
    vertical-align: bottom;
    background: $body-background;
    color: $logo-background;
  }
}
