@import "./components/Button.scss";
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

.wrapper {
  height: 100vh;
  width: 99vw;
  margin-left: 1vw;
  background: #FFFBF6;

  .header {
    height: 8vh;
    overflow: hidden;
    white-space: nowrap;

    .logo {
      display: inline-block;
      width: 15%;
      height: 100%;
      vertical-align: top;
      overflow: hidden;
      white-space: nowrap;
      background: #92949F;
      text-align: center;

      img {
        height: 6vh;
        padding: 1vh;
        display: inline-block;
        filter: invert(100%);
      }
      .title-container {
        display: inline-block;
        vertical-align: top;
        padding-left: 0.6vw;

        .title {
          height: 3vh;
          line-height: 3vh;
          padding: 1.1vh;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .top-bar {
      display: inline-block;
      width: 85%;
      height: 100%;
      vertical-align: top;
      line-height: 8vh;
      text-align: right;
      border-bottom: 1px solid lighten(#92949F, 25%);
      background: #D7D9DE;
      button {
        margin-right: 15px;
        transition: all 0.3s;
      }
    }
  }
  .content {
    height: 92vh;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -1px;

    .left {
      padding-right: -1px;
      display: inline-block;
      width: 15%;
      height: 100%;
      vertical-align: top;
      .left-menu {
        padding: 1.1vh;
        background: #92949F;
        height: 100%;

        li {
          height: 1.5em;
          line-height: 1.5em;
          vertical-align: baseline;
          cursor: default;
          user-select: none;
          transition: all 0.3s;
          padding: 0.4em;
          color: white;
          background: #767881;
          margin-bottom: 0.4em;
          border: 1px solid transparent;
          transition: all 0.3s;

          i {
            padding-right: 1.1vw;
            padding-left: 0.5vw;
          }
          &:hover {
            background-color: darken(rgba(75, 148, 173, 0.89), 5%);
            border: 1px solid lighten(rgba(75, 148, 173, 0.89), 25%);
            padding-left: 20px;
            cursor: pointer;
            i {
              color: lighten(#A4B9C0, 35%);
            }
          }
        }
      }
    }
    .right {
      display: inline-block;
      width: 85%;
      height: 100%;
      padding: 1.1vh;
      border-left: 1px solid lighten(#92949F, 25%);
    }
  }
}
