.container {
  .title-container,
  .add-user-button-container {
    display: inline-block;
  }

  .title-container {
    width: 90%;
  }
  .add-user-button-container {
    padding: 1em;
  }
  .add-user-button {
    width: 80px;
    cursor: pointer;
  }
}
.numbers,
.firstNames,
.lastNames,
.roles {
  display: inline-block;
}

.firstNames {
  padding-left: 20px;
}

.lastNames,
.roles {
  padding-left: 30px;
}
