.stage-two-container {
	background: #d3d3d1;
	padding: 25px;
	height: 30px;
}

.stage-two-show {
	display: block;
}
.stage-two-hide {
	display: none;
}
.button-back-container {
	text-align: right;
	width: 97%;
}

.button-back-container button {
	width: 100px;
}
