.stage-one-container {
  //   background: rgb(232, 229, 229);
  padding: 25px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 30px;
}
input {
  margin-left: 10px;
}

.stage-one-show {
  display: block;
}
.stage-one-hide {
  display: none;
}
