$stage-two-container-height: 18em;

.stage-two-container {
  padding: 15px;
  .user-details-container {
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;

    .detail-container {
      margin-bottom: 0.5em;
    }

    label {
      display: inline-block;
      width: 20%;
    }
    span {
      font-weight: 700;
      margin-left: 0.5em;
    }
  }

  .form-container {
    padding-top: 0.7em;
    .form-navigation {
      padding-top: 1.5em;
      display: flex;
      justify-content: space-between;

      .submit-button-container,
      .button-back-container {
        button {
          width: 6em;
        }
      }
    }
  }

  .stage-two-loader-container {
    margin-top: 0.5em;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}
