.UsersModal {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  left: 50%;
  // overflow: auto;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  box-shadow: 5px 10px 10px #888888;

  header {
    padding: 15px;

    .close-button {
      margin-left: 83%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// .Overlay {
//   position: fixed;
//   height: 500px;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: lightblue;
// }
