@import "../ColorSchema";

$width: 10%;
$animation: cubic-bezier(0.23, 1, 0.320, 1);

.loader {
	height: 7px;
	width: 100%;
	position: relative;
  overflow: hidden;
  &:before {
		display: block;
		position: absolute;
		content: "";
		width: $width;
		height: 4px;
		background-color: $main-color;
		animation: loading 1s $animation infinite;
	}
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: $width;
		height: 4px;
    background-color: $main-color;
    animation-delay: 0.5s;
		animation: loading-reverse 1s $animation infinite;
	}
}
@keyframes loading {
	0% {
    left: 0;
  }
  100% {
    left: (100% - $width);
  }
}

@keyframes loading-reverse {
	0% {
    left: (100% - $width);
  }
  100% {
    left: 0;
  }
}

