
.progress-bars-container{
    margin: 15px auto 120px auto;
    position: relative;
    @media(min-width: 1100px){
        margin: 0 auto 0 0;
    }
    h3{
        position: relative;
        padding: 15px 0;
        span{
            display: block;
            position: absolute;
            bottom: -15px;
            width: 100%;
            letter-spacing: 1.5px;
            font-size: 12.5px;
            color: tomato;
        }
        .fa-plus{
            color: green;
            font-size: 22px;
            position: absolute;
            cursor: pointer;
            top: -15px;
        }
       
    }
    .server-error{
        color: tomato;
        font-size: 26px;
        text-align: center;
        padding: 100px;
    }
    .btn-abs{
        margin: 15px auto;
        left: 0;
        right: 0;
        position: absolute;            
    }
   
   
}
.modal-container{
    width: 100%;
    height: 100%;
    position: relative;
    .option-btn{
        bottom: 40px;
        position: absolute;
        right: 0;
        left: 0;
        width: 120px;
        margin: 0 auto;
        .small-spiner{
            right: -40px;
            bottom: 10px;
        }
    }
    .server-error{
        text-align: center;
    }
}
.progress-bar-container{
    display: flex;
    width: 250px;
    flex-flow: column;
    margin: 25px auto;
    justify-content: space-between;
    align-items: center;
    @media(min-width: 340px){
        width: 300px;
    }
    @media(min-width: 450px){
        flex-flow: row;
        width: 400px;
        margin: 2px;
        height: 35px;
    }
    b{
        font-size: .75rem;
        margin-right: auto;
        padding-bottom: 25px;
        @media(min-width: 450px){
            margin: auto;
            padding: 0;
            margin-right: 10px;
            word-break: break-all !important;
            width: 100px;
        }
    }
    .progress-btns{
        position: relative;
        width: 250px;
        background-color: rgba(0,0,0,0.2);
        display: flex;
        justify-content: flex-start;
        height: 16px;
        @media(min-width: 340px){
            width: 300px;
        }
    }
    .progress-btns span{
        cursor: pointer;
        width: 20%;
        margin: 0;
        position: relative;
        display: block;
        height: 16px;
        @media(min-width: 340px){
            width: 60px;
        }
        
    }
    .progress-btns span i{
        font-size: 10px;
        position: absolute;
        display: block;
        right: 0;
        top: -15px;
        animation: 0.5s animate-cas ease-in-out forwards;
    }
    
    .progress-btns span:hover{
        background-color: rgba(0,0,0,0.3) !important;
    }
    .fa-save{
        font-size: 18px;
        position: absolute;
        right: -25px;
        animation: 0.5s animate-to-save linear infinite;
    }
    .fa-plus, .fa-minus{
        margin-left: 10px;
        cursor: pointer;
    }
    .fa-plus{
        color: green;
    }
    .fa-minus{
        color: red;
    }
}
.modal-progress-br-container{
    overflow-y: auto;
    height: 70%;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    .empty-list{
        text-align: center;
        margin-top: 50px;
    }
}
@keyframes animate-to-save {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.header-container{
    position: relative;
    @media(max-width: 500px){
        position: static;
    }
    .fa-search{
        margin: 0 0 5px 10px;
        cursor: pointer;
    }
    input{
        width: 200px;
        border-radius: 5px;
    }
    .change-list-btn{
        padding: 5px;
        z-index: 10;
        position: absolute;
        right: 35px;
        font-size: 14px;
        border: 1px solid tomato;
        color: tomato;
        background: transparent;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 7px;
        cursor: pointer;
        @media(min-width: 501px){
            top: 0;
        }
        @media(max-width: 500px){
            background-color: tomato;
            color:black;
            margin: 0 auto;
            padding: 15px;
            width: 100%;
            left: 0;
            font-size: 18px;
            bottom: -45px;
        }
    }
    .change-list-btn:focus{
        outline: none;
    }
}
.correct-operation{
    position: absolute;
    height: 60px;
    width: 60px;
    transform: scale(0.7);
    bottom: 25px;
    right: 10px;

}
.correct-operation::before, 
.correct-operation::after{
    content: '';
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.correct-operation::before{
    transform: rotate(45deg);
    animation: 0.5s correct-in-first ease-in-out forwards;
}
.correct-operation::after{
    transform: rotate(130deg);
    right: -40px;
    top: -20px;
    animation: 0.5s ease-in-out 0.1s correct-in-second forwards;
}
@keyframes correct-in-first {
    0%{
        width: 0;
        opacity: 0;
        height: 0;
    }   
    100%{
        width: 25px;
        background-color: green;
        background-color: green;
        opacity: 1;
        height: 7px;
    }
}
@keyframes correct-in-second {
    0%{
        width: 0;
        opacity: 0;
        height: 0;
    }   
    100%{
        width: 45px;
        opacity: 1;
        background-color: green;
        background-color: green;
        height: 7px;
    }
}