
.progress-bars-container{
    margin-right: auto;
    h3{
        position: relative;
        padding: 15px 0;
        span{
            display: block;
            position: absolute;
            bottom: -15px;
            width: 100%;
            letter-spacing: 1.5px;
            font-size: 12.5px;
            color: tomato;
        }
       
    }
    .progress-bar-container{
        height: 35px;
        margin: 2px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;

       
        b{
            width: 100px;
            word-break: break-all !important;
        }
        .progress-btns{
            position: relative;
            width: 300px;
            background-color: rgba(0,0,0,0.2);
            display: flex;
            justify-content: flex-start;
            height: 16px;
        }
        .progress-btns span{
            cursor: pointer;
            width: 60px;
            margin: 0;
            position: relative;
            display: block;
            height: 16px;
        }
        .progress-btns span i{
            font-size: 10px;
            position: absolute;
            display: block;
            right: 0;
            top: -15px;
            animation: 0.5s animate-cas ease-in-out forwards;
        }
        
        .progress-btns span:hover{
            background-color: rgba(0,0,0,0.3) !important;
        }
    }

    .option-btn{
        margin: 15px auto;
        left: 0;
        right: 0;
        position: absolute;
        
    }
}